@import '../../../../abstracts/index';

.page-designer {
    .vulcan-product-sequence {
        position: relative;
        height: 400vh;

        .wrapper {
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 30px;

            @include media-breakpoint-up(md) {
                padding: 0 40px;
            }

            @include media-breakpoint-up(lg) {
                padding: 0 40px;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
            grid-template-rows: auto;
            column-gap: 24px;

            @include media-breakpoint-up(sm) {
                grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
            }
        }
    }

    /* stylelint-disable */
    @media screen and (min-width: 641px) {
        .vulcan-product-sequence {
            height: 500vh;
        }
    }

    .vulcan-product-sequence .wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .vulcan-product-sequence h2 {
        margin-bottom: 14px;
    }

    .vulcan-product-sequence .grid-container {
        grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .grid-container {
            grid-template-rows: 1fr;
            align-items: center;
        }
    }

    .vulcan-product-sequence .pinned-scene {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .vulcan-product-sequence .product-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
    }

    .vulcan-product-sequence .source-ref {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .vulcan-product-sequence .position-reference {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .vulcan-product-sequence .position-reference-one,
    .vulcan-product-sequence .position-reference-two,
    .vulcan-product-sequence .position-reference-three,
    .vulcan-product-sequence .position-reference-four {
        position: absolute;
        width: calc(100vh - 106px);
        height: calc(100vh - 106px);
        max-width: 105vw;
        max-height: 105vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .position-reference-one,
        .vulcan-product-sequence .position-reference-two,
        .vulcan-product-sequence .position-reference-three,
        .vulcan-product-sequence .position-reference-four {
            max-width: 80vw;
            max-height: 80vw;
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .position-reference-one,
        .vulcan-product-sequence .position-reference-two,
        .vulcan-product-sequence .position-reference-three,
        .vulcan-product-sequence .position-reference-four {
            width: calc(100vh - 106px);
            height: calc(100vh - 106px);
            max-width: 65vw;
            max-height: 65vw;
        }
    }

    .vulcan-product-sequence .position-reference-one {
        background: rgba(255, 0, 0, 0);
        transform: translate(-50%, -58%);
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .position-reference-one {
            transform: translate(-50%, -50%);
        }
    }

    .vulcan-product-sequence .position-reference-two {
        background: rgba(0, 0, 255, 0);
        top: auto;
        bottom: 40vh;
        transform: translate(-50%, 10%);
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .position-reference-two {
            transform: translate(-50%, 15%);
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .position-reference-two {
            top: 52.5%;
            left: auto;
            bottom: auto;
            right: 0;
            transform: translate(0, -50%);
        }
    }

    .vulcan-product-sequence .position-reference-three {
        background: rgba(0, 255, 0, 0);
        top: auto;
        bottom: 40vh;
        transform: translate(-50%, 0);
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .position-reference-three {
            transform: translate(-50%, 6%);
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .position-reference-three {
            left: 0;
            top: 50%;
            transform: translate(0, -60%);
        }
    }

    .vulcan-product-sequence .position-reference-four {
        background: rgba(0, 255, 255, 0);
        top: auto;
        bottom: 40vh;
        transform: translate(-50%, -5%);
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .position-reference-four {
            left: 0;
            top: 50%;
            transform: translate(0, -60%);
        }
    }

    .vulcan-product-sequence .touch-indicator {
        position: absolute;
        top: 32.39%;
        width: 5%;
        height: 5%;
        transform: translate(-50%, -50%);
    }

    @keyframes pulse {
        0% {
            transform: scale(1, 1);
            animation-timing-function: ease-in-out;
        }

        50% {
            transform: scale(0.85, 0.85);
            animation-timing-function: ease-in-out;
        }

        100% {
            transform: scale(1, 1);
            animation-timing-function: ease-in-out;
        }
    }

    @keyframes ping1 {
        0% {
            transform: scale(0.25, 0.25);
            opacity: 0.5;
        }

        50% {
            transform: scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }

    @keyframes ping2 {
        0% {
            transform: scale(0.01, 0.01);
            opacity: 0.5;
        }

        25% {
            transform: scale(0.25, 0.25);
            opacity: 0.5;
        }

        75% {
            transform: scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }

    .vulcan-product-sequence .touch-indicator div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #00a977;
        animation: 1.25s linear infinite pulse;
    }

    .vulcan-product-sequence .touch-indicator::after,
    .vulcan-product-sequence .touch-indicator::before {
        content: "";
        display: block;
        position: absolute;
        left: -150%;
        top: -150%;
        width: 400%;
        height: 400%;
        border-radius: 50%;
        background: #00a977;
        animation: 1.25s linear infinite ping1;
    }

    .vulcan-product-sequence .touch-indicator::after {
        animation: 1.25s linear infinite ping2;
    }

    .vulcan-product-sequence .touch-indicator:nth-child(1) {
        left: 39.65%;
    }

    .vulcan-product-sequence .touch-indicator:nth-child(2) {
        left: 52.97%;
    }

    .vulcan-product-sequence .vulcan-product-images {
        display: none;
    }

    .vulcan-product-sequence .sequence-images,
    .vulcan-product-sequence .shirt-underlay {
        display: none;
    }

    .vulcan-product-sequence .vulcan-product-text-section {
        position: relative;
        text-align: center;
        grid-row-start: 2;
        grid-column: 1 / 5;
        margin-top: 10vh;
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .vulcan-product-text-section {
            grid-column-end: 9;
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .vulcan-product-text-section {
            position: relative;
            grid-row-start: 1;
            grid-column: 1 / 13;
            margin-top: 0;
        }
    }

    .vulcan-product-sequence .vulcan-product-text {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .vulcan-product-sequence .vulcan-product-text p {
        max-width: 300px;
        margin: 0 auto;
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .vulcan-product-text p {
            max-width: 400px;
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .vulcan-product-text p {
            max-width: none;
            margin: 0;
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .vulcan-product-text {
            top: 50%;
            text-align: left;
            bottom: auto;
            width: 33.333%;
            transform: translateY(-50%);
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .open-text {
            left: 0;
        }

        .vulcan-product-sequence .effort-text,
        .vulcan-product-sequence .transfer-text {
            right: 0;
        }
    }

    .vulcan-product-sequence .vulcan-background-svgs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow-x: hidden;
    }

    .vulcan-product-sequence .vulcan-background-svgs img {
        position: absolute;
        transform: scale(0.5, 0.5);
    }

    @media screen and (min-width: 641px) {
        .vulcan-product-sequence .vulcan-background-svgs img {
            transform: scale(0.75, 0.75);
        }
    }

    @media screen and (min-width: 1025px) {
        .vulcan-product-sequence .vulcan-background-svgs img {
            transform: none;
        }
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(1) {
        top: 0%;
        right: 9.01%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(2) {
        top: 3.6%;
        left: 22.49%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(3) {
        top: 7.73%;
        right: 0.72%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(4) {
        top: 12.36%;
        left: 0.1%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(5) {
        top: 15.45%;
        right: 18.5%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(6) {
        top: 19.85%;
        left: 14.75%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(7) {
        top: 24.3%;
        right: 5.82%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(8) {
        top: 28.51%;
        left: 22.33%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(9) {
        top: 32.19%;
        right: -1.59%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(10) {
        top: 36.85%;
        left: 1.75%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(11) {
        top: 40.98%;
        right: 3.99%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(12) {
        top: 45.6%;
        left: 12.04%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(13) {
        top: 49.72%;
        right: 10.93%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(14) {
        top: 54.11%;
        left: -2.56%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(15) {
        top: 57.87%;
        right: 16.99%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(16) {
        top: 62.3%;
        left: 19.11%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(17) {
        top: 66.53%;
        right: -0.19%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(18) {
        top: 70.53%;
        left: 3.27%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(19) {
        top: 75.47%;
        right: 22.47%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(20) {
        top: 79.21%;
        left: 11.16%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(21) {
        top: 83.98%;
        right: 5.53%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(22) {
        top: 89.28%;
        left: 42.3%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(23) {
        top: 92.02%;
        right: 16.24%;
    }

    .vulcan-product-sequence .vulcan-background-svgs img:nth-child(24) {
        top: 96.57%;
        left: 8.37%;
    }
    /* stylelint-enable */
}
