@charset 'UTF-8';

@import '~base/abstracts/index';

html {
    font-family: $font-Euclid, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: $font-html-reset; // 10px
    background-color: $white100;
    color: $black100;

    .font-gascogne {
        font-family: $font-Gascogne;
    }

    select {
        margin-bottom: 1em;
        padding: 0.25em;
        border: 0;
        border-bottom: 2px solid currentcolor;
        font-weight: bold;
        letter-spacing: 0.15em;
        border-radius: 0;

        &:focus,
        &:active {
            outline: 0;
            border-bottom-color: green;
        }
    }
}
