<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Columns</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>

<body>

    <div class="bb-col bb-col-flex">
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item"><button class="bb-button">Lorem Ipsum</button></div>
    </div>

    <div class="bb-col bb-col-flex">
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item"><button class="bb-button">Lorem Ipsum</button></div>
    </div>

    <div class="bb-col bb-col-flex">
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item">
            <p>Lorem Ipsum</p>
        </div>
        <div class="bb-col-item"><button class="bb-button">Lorem Ipsum</button></div>
    </div>

    <div class="bb-col bb-col-2">
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

    <div class="bb-col bb-col-3">
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

    <div class="bb-col bb-col-4">
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

</body>

</html>