<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Columns</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>

<body>

    <style>
        .col {
            border-bottom: 1px solid black;
        }
    </style>

    <div class="col col-flex">
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div><button class="button">Lorem Ipsum</button></div>
    </div>

    <div class="col col-flex">
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <button class="button">Lorem Ipsum</button>
        </div>
    </div>

    <div class="col col-flex">
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <button class="button">Lorem Ipsum</button>
        </div>
    </div>

    <div class="col col-flex col-flex--space-between">
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <button class="button">Lorem Ipsum</button>
        </div>
    </div>

    <div class="col col-flex col-flex--center">
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <button class="button">Lorem Ipsum</button>
        </div>
    </div>

    <div class="col col-2">
        <div>
            <div class="card">
                <div class="card-image">
                    <picture>
                        <source media="(min-width: 992px)" srcset="../../assets/images/red-desktop.jpg">
                        <source media="(min-width: 641px)" srcset="../../assets/images/v2/red-tablet.jpg">
                        <source media="(max-width: 640px)" srcset="../../assets/images/red-mobile.jpg">
                        <img src="../../assets/images/red-desktop.jpg" alt="">
                    </picture>
                </div>

                <div class="card-copy">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa
                        pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus
                        aliquam enim nam sunt a ab.</p>
                </div>

                <div class="card-cta">
                    <button class="button">Lorem Ipsum</button>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <div class="tile-copy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta
                    ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos
                    officiis?</p>
            </div>
        </div>
    </div>

    <div class="col col-3">
        <div class="tile">
            <div class="tile-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <div class="tile-copy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta
                    ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos
                    officiis?</p>
            </div>
        </div>
        <div class="tile">
            <div class="tile-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <div class="tile-copy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta
                    ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos
                    officiis?</p>
            </div>
        </div>
        <div class="tile">
            <div class="tile-title">
                <h3>Lorem Ipsum</h3>
            </div>
            <div class="tile-copy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta
                    ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos
                    officiis?</p>
            </div>
        </div>
    </div>

    <div class="col col-4">
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

    <div class="col col-5">
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

    <div class="col col-6">
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>

</body>

</html>