// out: false

/* FONTS */
@theme-font-family-main: @global-font-family-main;
@theme-font-family-sub: @global-font-family-sub;

/* COLORS */
@theme-primary-color: @global-primary-color;
@theme-color: @global-color;
@theme-color-inverse: @global-color-inverse;
@theme-background: @global-background;

/* LINKS */
@theme-link-color: @global-link-color;
@theme-text-decoration: @global-text-decoration;

/* WIDTHS */
@theme-max-width: @breakpoint-xxl;


/*
    reset everything
*/
*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    set font styles
*/
html {
    font-family: @theme-font-family-main;
    font-size: 14px;
    line-height: 1.5;
    background: @theme-background;
    color: @theme-color;
}

/*
    body width, color
*/
body {
    max-width: @theme-max-width;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4,
h5,
h6 {
    font-size: 1.1em;
}

p,
a,
li,
button,
input {
    font-family: @theme-font-family-sub;
}

p {
    font-size: 1em;
}

a {
    color: @theme-link-color;
    text-decoration: @theme-text-decoration;
    transition: color .4s ease-in-out;

    &:hover {
        color: darken(@theme-link-color, 10%);
    }

    &:visited,
    &:active {
        color: darken(@theme-link-color, 8%);
    }
}

a,
button {
    cursor: pointer;
}

/* 
    sets left margin to same size as
    font for text decoration to show
*/
ol,
ul {
    margin-left: calc(1em + 26px);
    text-align: left;
}

li {
    margin-top: 4px;
}

img,
video,
canvas,
audio,
iframe,
svg {
    vertical-align: middle;
}

img,
video,
canvas,
iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
