// out: false


/* VARIABLES
***************************************************************/

/* FONTS */
@theme-font-family-main: @global-font-family-main;
@theme-font-family-sub: @global-font-family-sub;
@theme-font-size: @global-font-size; // 16px
@theme-line-height: @global-line-height; // 24px
@theme-2xlarge-font-size: @global-2xlarge-font-size; // 42px
@theme-xlarge-font-size: @global-xlarge-font-size; // 32px
@theme-large-font-size: @global-large-font-size; // 24px
@theme-medium-font-size: @global-medium-font-size; // 20px
@theme-small-font-size: @global-small-font-size; // 14px

/* COLORS */
@theme-primary-color: @global-primary-color;
@theme-color: @global-color;
@theme-color-inverse: @global-color-inverse;
@theme-background: @global-background;

/* LINKS */
@theme-link-color: @global-link-color;
@theme-text-decoration: @global-text-decoration;

/* ASTHETICS */
@theme-shading-percentage: @global-shading-percentage;
@theme-border-radius: @global-border-radius;
@theme-border-thickness: @global-border-thickness;
@theme-transition-duration: @global-transition-duration;

/* WIDTHS */
@theme-max-width: @breakpoint-xxl;


/**************************************************************/
/*
  TABLE OF CONTENTS
  1. Reset
  2. html | body
  3. Text elements
  4. Links | Buttons
  5. Media
*/
/**************************************************************/


/* 1. Reset
*************************************/

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 2. html | body
*************************************/
html {
    font-family: @theme-font-family-main;
    font-size: @theme-font-size;
    line-height: @theme-line-height;
    background: @theme-background;
    color: @theme-color;
}

body {
    max-width: @theme-max-width;
    margin: 0 auto;
}


/* 3. Text elements
*************************************/

h1 {
    font-size: @theme-2xlarge-font-size;
}

h2 {
    font-size: @theme-xlarge-font-size;
}

h3 {
    font-size: @theme-large-font-size;
}

h4,
h5,
h6 {
    font-size: @theme-medium-font-size;
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
    margin-top: 1em;
}

p,
a,
li,
dt,
dd,
button,
input,
pre,
address,
fieldset,
figure {
    font-family: @theme-font-family-sub;
    font-size: @theme-small-font-size;
}

*+p,
*+pre,
*+address,
*+fieldset,
*+figure {
    margin-top: @theme-small-font-size;
}

*+ul,
*+ol,
*+dl {
    margin: 0.5em 0 @theme-small-font-size;
}

ol,
ul,
dl {
    text-align: left;
}

ol,
ul {
    margin-left: @theme-2xlarge-font-size;
}

dl {
    margin-left: @theme-xlarge-font-size;
}

dd {
    margin-left: @theme-medium-font-size;
}

li {
    margin-top: 4px;
}

table {
    width: 100%;
}

tr {
    transition: background .2s ease-in-out;

    &:hover {
        background-color: darken(@theme-color-inverse, 8%);
    }

    &:nth-child(even) {
        background-color: @theme-primary-color;

        &:hover {
            background-color: darken(@theme-primary-color, 6%);
        }
    }
}


/* 4. Links | Buttons
*************************************/

a {
    color: @theme-link-color;
    text-decoration: @theme-text-decoration;

    &:hover {
        color: darken(@theme-link-color, 10%);
    }

    &:visited,
    &:active {
        color: darken(@theme-link-color, 8%);
    }
}

a,
button {
    cursor: pointer;
    transition: color .4s ease-in-out, background .4s ease-in-out;
}


/* 5. Media
*************************************/

img,
video,
canvas,
audio,
iframe,
svg {
    vertical-align: middle;
}

img,
video,
canvas,
iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

iframe {
    border: 0;
}