<section id="modal1" class="bb-modal  " modal>
    <div class="bb-modal-carousel" carousel-slide>
        <button class="bb-button--close">X Close</button>
        <div class="bb-carousel-images">
            <div class="bb-carousel-images-image">
                <picture>
                    <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1600x780/f00">
                    <source media="(min-width: 641px)" srcset="https://via.placeholder.com/780x480/f00">
                    <source media="(max-width: 640px)" srcset="https://via.placeholder.com/640x400/f00">
                    <img src="https://via.placeholder.com/1600x780/f00" alt="">
                </picture>
            </div>
        </div>
        <div class="bb-carousel-prev">
            <p>&lt;</p>
        </div>
        <div class="bb-carousel-next">
            <p>&gt;</p>
        </div>
        <div class="bb-carousel-dots">

        </div>
    </div>

    <div class="bb-modal-copy">
        <div class="bb-modal-copy-title">
            <h3>Lorem Ipsum</h3>
        </div>
        <div class="bb-modal-copy-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis provident aspernatur veniam suscipit fugit nesciunt id exercitationem modi, rerum placeat, possimus labore sapiente impedit voluptates totam accusantium, saepe recusandae repellat.</p>
        </div>

        <div class="bb-modal-copy-cta">
            <a class="bb-button" href="#">Lorem Ipsum</a>
        </div>
    </div>
</section>

<button class="bb-button" data-modal-id="modal1">Activate Modal</button>

<section id="modal2" class="bb-modal  " modal>
    <div class="bb-modal-carousel" carousel-slide>
        <button class="bb-button--close">X Close</button>
        <div class="bb-carousel-images">
            <div class="bb-carousel-images-image">
                <picture>
                    <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1600x780/f00">
                    <source media="(min-width: 641px)" srcset="https://via.placeholder.com/780x480/f00">
                    <source media="(max-width: 640px)" srcset="https://via.placeholder.com/640x400/f00">
                    <img src="https://via.placeholder.com/1600x780/f00" alt="">
                </picture>
            </div>
        </div>
        <div class="bb-carousel-prev">
            <p>&lt;</p>
        </div>
        <div class="bb-carousel-next">
            <p>&gt;</p>
        </div>
        <div class="bb-carousel-dots">

        </div>
    </div>

    <div class="bb-modal-copy">
        <div class="bb-modal-copy-title">
            <h3>Lorem Ipsum 2</h3>
        </div>
        <div class="bb-modal-copy-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis provident aspernatur veniam suscipit fugit nesciunt id exercitationem modi, rerum placeat, possimus labore sapiente impedit voluptates totam accusantium, saepe recusandae repellat.</p>
        </div>

        <div class="bb-modal-copy-cta">
            <a class="bb-button" href="#">Lorem Ipsum</a>
        </div>
    </div>
</section>

<button class="bb-button" data-modal-id="modal2">Activate Modal</button>