**/follow-along-code
*.css.map
*.DS_Store
examples/*
**/examples/*
node_modules/
package-lock.json

.buildpath
.cache
.metadata
.project
.settings
.vscode
atlassian*
nbproject
.idea
.gitattributes
.DS_Store
/magento/app/code/Cryozonic/StripePayments/lib/stripe-php/

*/stream-videos/**/css
**/bare-bones/css/
**/bootstrap

**/exercise_files/

!**/examples/assets/
!**/examples/Practice/
!**/examples/practice/
!**/examples/Challenges/
!**/examples/challenges/
!**/examples/mine/
!**/examples/README.md
!**/examples/readme.md
!**/examples/package.json
!**/examples/NOTICE
!**/examples/LICENSE
!**/examples/CONTRIBUTING.MD
!**/examples/.gitignore

**/sfcc/training/*
!**/sfcc/training/OCAPI_Exercise_Postman/
!**/sfcc/training/OCAPI_Settings/
!**/sfcc/training/sfra-training-site/
!**/sfcc/training/tooling/

