@use "variables" as var;
@use "base";
@use "mixins/btn";

h1 {
    color: var.$primary;
}

p {
    color: var.$secondary;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

.btns {
    display: flex;
    justify-content: start;
    align-items: center;

    .btn {
        @include btn.btn(#aaa);
    }

    .container & {
        justify-content: end;
    }
}