<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="USimplifiedMagento\FirstModule\Api\PencilInterface"
                type="USimplifiedMagento\FirstModule\Model\Pencil" />

    <preference for="USimplifiedMagento\FirstModule\Api\Color"
                type="USimplifiedMagento\FirstModule\Model\Yellow" />

    <preference for="USimplifiedMagento\FirstModule\Api\Size"
                type="USimplifiedMagento\FirstModule\Model\Normal" />

    <type name="USimplifiedMagento\FirstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">USimplifiedMagento\FirstModule\Model\Red</argument>
            <argument name="size" xsi:type="object">USimplifiedMagento\FirstModule\Model\Big</argument>
        </arguments>
    </type>
</config>
