<nav class="bb-navbar">
    <div class="bb-navbar-contents">
        <div class="bb-navbar-contents-logo">
            <a href="#"><img src="https://via.placeholder.com/70?text=Logo" alt="Logo"></a>
        </div>
        <div class="bb-navbar-contents-links ">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li class="bb-menuList">
                    <div class="noWrap">
                        <a href="#">Projects</a>
                        <span class="bb-menuList-button toggle-button"><i class="arrow down"></i></span>
                    </div>
                    <div class="bb-menuList-contents">
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Freelance</a></li>
                            <li><a href="#">Personal</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="bb-navbar-contents-mobileIcon bb-mobileIcon">
            <div class="toggle-button">
                <div class="menu-bar menu-bar--top"></div>
                <div class="menu-bar menu-bar--middle"></div>
                <div class="menu-bar menu-bar--bottom"></div>
            </div>
        </div>
    </div>
</nav>