@mixin btn ($color: #eee, $hover: #444) {    
    border: none;
    padding: 8px 12px;
    margin: 0 8px;
    background-color: $color;
    transition: background-color 0.2s ease;

    &:hover {
        cursor: pointer;
        background-color: $hover;
    }
}