<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Card</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>
<body>

    <section class="bb-card">
        <div class="bb-card-image">        
            <picture>
                <source media="(min-width: 768px)" srcset="../../images/red-desktop.jpg">
                <source media="(min-width: 641px)" srcset="../../images/red-tablet.jpg">
                <source media="(max-width: 640px)" srcset="../../images/red-mobile.jpg">
                <img src="../../images/red-desktop.jpg" alt="">
            </picture>
        </div>
    
        <div class="bb-card-copy">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
        </div>
    
        <div class="bb-card-cta">
            <a class="bb-button" href="#">Lorem Ipsum</a>
        </div>
    </section>
    
</body>
</html>