<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Card</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>
<body>

    <div class="card">
        <div class="card-image">        
            <picture>
                <source media="(min-width: 992px)" srcset="../../assets/images/red-desktop.jpg">
                <source media="(min-width: 641px)" srcset="../../assets/images/v2/red-tablet.jpg">
                <source media="(max-width: 640px)" srcset="../../assets/images/red-mobile.jpg">
                <img src="../../assets/images/red-desktop.jpg" alt="">
            </picture>
        </div>
    
        <div class="card-copy">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
        </div>
    
        <div class="card-cta">
            <a class="btn" href="#">Lorem Ipsum</a>
            <button class="btn">Lorem Ipsum</button>
        </div>
    </div>

    <div class="card card--left">
        <div class="card-image">        
            <picture>
                <source media="(min-width: 992px)" srcset="../../assets/images/red-desktop.jpg">
                <source media="(min-width: 641px)" srcset="../../assets/images/v2/red-tablet.jpg">
                <source media="(max-width: 640px)" srcset="../../assets/images/red-mobile.jpg">
                <img src="../../assets/images/red-desktop.jpg" alt="">
            </picture>
        </div>
    
        <div class="card-copy">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
        </div>
    
        <div class="card-cta">
            <a class="btn" href="#">Lorem Ipsum</a>
            <button class="btn">Lorem Ipsum</button>
        </div>
    </div>

    <div class="card card--center">
        <div class="card-image">        
            <picture>
                <source media="(min-width: 992px)" srcset="../../assets/images/red-desktop.jpg">
                <source media="(min-width: 641px)" srcset="../../assets/images/v2/red-tablet.jpg">
                <source media="(max-width: 640px)" srcset="../../assets/images/red-mobile.jpg">
                <img src="../../assets/images/red-desktop.jpg" alt="">
            </picture>
        </div>
    
        <div class="card-copy">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere voluptatum soluta culpa pariatur aperiam sapiente cupiditate expedita, deserunt optio harum fugiat deleniti possimus aliquam enim nam sunt a ab.</p>
        </div>
    
        <div class="card-cta">
            <a class="btn" href="#">Lorem Ipsum</a>
            <button class="btn">Lorem Ipsum</button>
        </div>
    </div>
    
</body>
</html>