.app {
    text-align: center;
    padding: 0 30px;
    margin-block-start: 60px;
    margin-block-end: 60px;
    overflow: hidden;

    .app-title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 42px;
        font-weight: $font-weight-bold;
        letter-spacing: -0.02em;
    }

    .app-copy {
        max-width: 635px;
        margin: 0 auto 100px;
        font-size: 14px;
        line-height: 24px;
    }

    .app-info {
        max-width: 330px;
        margin: 0 auto;
        font-size: 10px;
        line-height: 18px;
    }

    .app-images-section {
        display: inline-block;
        position: relative;
        margin-bottom: 95px;
        max-width: 90%;
    }

    .laptop-screen,
    .tablet-screen {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .laptop-screen {
        width: 76.735%;
        transform: translate(-49.75%, -57%);
    }

    .device-tablet {
        width: 94%;
        margin-left: 3%;
    }

    .tablet-screen {
        width: 80%;
        transform: translate(-49.75%, -51%);
    }

    .alt-screen {
        position: absolute;
        top: 50%;
        width: 55.913%;
        transform: translateY(-58%);
        box-shadow: 0 32px 35px -23px #0000002b;
    }

    .left1 {
        left: -110%;
    }

    .left2 {
        left: -51%;
    }

    .right1 {
        right: -51%;
    }

    .right2 {
        right: -110%;
    }

    .left1,
    .right2 {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        .app-title {
            font-size: 42px;
            line-height: 1.1;
        }
    }

    @include media-breakpoint-up(md) {
        margin-block-start: 120px;
        margin-block-end: 120px;

        .app-title {
            font-size: 68px;
        }

        .app-copy {
            font-size: 15px;
            line-height: 1.5;
        }

        .app-images-section {
            max-width: 51%;
        }

        .left1,
        .right2 {
            display: block;
        }

        .app-info {
            font-size: 12px;
            line-height: 1.5;
        }
    }

    @include media-breakpoint-up(lg) {
        .app-images-section {
            max-width: 45%;
        }
    }
}
