.pd-billboard {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    //round corners
    overflow: hidden;
    @include z-index(body);

    &.pd-content-margins {
        margin: 3rem;
        width: calc(100% - 6rem);

        @include media-breakpoint-up(lg) {
            margin: 6.4rem 7rem;
            width: calc(100% - 14rem);
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: $spacer-7;
        display: flex;
        flex-direction: column;
        align-items: center;
        //internal z-index
        z-index: 3;

        @include media-breakpoint-up(md) {
            padding: $spacer-8;
        }

        // billboard width override for centered text
        &.align-items-center {
            &:not(.justify-content-start):not(.justify-content-end) {
                .pd-billboard {
                    &__header,
                    &__subheader,
                    &__actions {
                        @include media-breakpoint-up(md) {
                            max-width: 61%;
                        }

                        @include media-breakpoint-up(lg) {
                            max-width: 66%;
                        }
                    }
                }
            }
        }
    }

    &__header,
    &__subheader,
    &__actions {
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 44%;
        }
    }

    &__heading {
        margin-bottom: $spacer-7;
        text-align: center;
        @include heading-h1;
    }

    &__subheading {
        font-size: $font-size-xl;
        margin-bottom: $spacer-7;
        text-align: center;
    }

    &__actions {
        .experience-actions {
            display: flex;
            flex-direction: row;
            gap: $spacer;
        }
    }

    .text-left {
        .pd-billboard__actions {
            .experience-actions {
                justify-content: left;
            }
        }
    }

    .text-center {
        .pd-billboard__actions {
            .experience-actions {
                justify-content: center;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .text-md-left {
            .pd-billboard__actions {
                .experience-actions {
                    justify-content: left;
                }
            }
        }

        .text-md-center {
            .pd-billboard__actions {
                .experience-actions {
                    justify-content: center;
                }
            }
        }
    }

    picture {
        display: flex;
        width: 100%;
        //internal z-index
        z-index: 1;
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        clip-path: url($cutout-1);

        @include media-breakpoint-up(md) {
            min-height: initial;
            width: 100%;
            height: auto;
        }
    }

    // Two-Up Styles
    &--twoup {
        &__content {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }

        &__container {
            width: 100%;

            .experience-region,
            .experience-component {
                height: 100%;
            }

            &:first-child {
                margin-bottom: $spacer-4;
            }

            &:last-child {
                margin-top: $spacer-4;
            }

            @include media-breakpoint-up(md) {
                width: 50%;

                &:first-child {
                    margin-right: $spacer;
                    margin-bottom: 0;
                }

                &:last-child {
                    margin-left: $spacer;
                    margin-top: 0;
                }
            }
        }

        &.pd-content-margins {
            border-radius: 4px 0;

            .pd-billboard {
                &__img {
                    @include media-breakpoint-up(lg) {
                        border-radius: 7px 7px 0 0;
                    }
                }
            }
        }

        // 2up Cutout Styles
        .pd-billboard {
            height: 100%;

            &.cutout {
                .pd-billboard {
                    &__content {
                        // override for two-up
                        position: relative !important;
                        flex-grow: 1;
                    }

                    &__header {
                        flex-grow: 1;
                    }
                }

                .cutout-shape {
                    position: absolute;
                    display: block;
                    left: -1%;
                    width: 102%;
                    // Override shape
                    mask-image: url($mobilecut);
                    mask-repeat: no-repeat;
                    -webkit-mask-size: cover;
                    height: calc(100% + 75px);
                    top: initial;
                    bottom: -1%;
                    -webkit-mask-position: top;

                    @include media-breakpoint-up(sm) {
                        height: calc(100% + 135px);
                    }

                    @include media-breakpoint-up(md) {
                        height: calc(100% + 75px);
                    }

                    @include media-breakpoint-up(xl) {
                        height: calc(100% + 135px);
                    }

                    &.c1 {
                        @include media-breakpoint-up(md) {
                            mask-image: url($twoupcut);
                        }
                    }
                }
            }

            &__header,
            &__subheader,
            &__actions {
                // override width
                max-width: 100% !important;
            }
        }
    }

    // Cutout Styles
    &.cutout {
        display: flex;
        flex-direction: column;

        .cutout-shape {
            position: absolute;
            display: block;
            left: -1%;
            top: -1%;
            height: 102%;
            width: 102%;
            //internal z-index
            z-index: -1;

            @include media-breakpoint-down(md) {
                mask-image: url($mobilecut);
                mask-repeat: no-repeat;
            }

            &.--white {
                background: $white;
            }

            &.--sand {
                background: $sand;
            }

            &.--forrest {
                background: $forrest;
            }

            &.--sky {
                background: $sky;
            }
        }

        .pd-billboard {
            &__content {
                position: absolute;
                height: auto;
                bottom: 0;

                &.--right {
                    right: 0;
                }

                @include media-breakpoint-down(sm) {
                    //override any text position to center
                    text-align: center !important;

                    picture {
                        justify-content: center;
                    }
                }
            }

            &__header,
            &__subheader,
            &__actions {
                @include media-breakpoint-up(md) {
                    max-width: 70%;
                }

                @include media-breakpoint-up(xl) {
                    max-width: 68%;
                }
            }

            @include media-breakpoint-down(sm) {
                &__content {
                    justify-content: end !important;
                    align-items: center !important;
                    text-align: center;
                }
            }
        }

        &:not(.pd-content-margins) {
            .pd-billboard {
                &__header,
                &__subheader,
                &__actions {
                    max-width: 550px;

                    @include media-breakpoint-up(md) {
                        width: 73%;
                    }

                    @include media-breakpoint-up(lg) {
                        width: 95%;
                    }

                    @include media-breakpoint-up(xl) {
                        width: 80%;
                    }
                }
            }
        }
    }
}

// specificlly to exclude 2ups
.experience-main {
    > .experience-commerce_assets-billboard {
        .pd-billboard {
            &.cutout {
                .pd-billboard {
                    &__content {
                        position: relative;
                        height: auto;
                        bottom: 0;

                        @include media-breakpoint-up(md) {
                            position: absolute;
                            max-width: 50%;
                            height: 100%;
                        }

                        @include media-breakpoint-up(lg) {
                            padding: $spacer-8 $spacer-8 $spacer-8 17rem;
                        }
                    }
                }

                .cutout-shape {
                    -webkit-mask-size: cover;
                    height: calc(100% + 90px);
                    top: initial;
                    bottom: -1%;
                    -webkit-mask-position: top;

                    @include media-breakpoint-up(xs) {
                        height: calc(100% + 110px);
                    }

                    @include media-breakpoint-up(sm) {
                        height: calc(100% + 140px);
                    }

                    @include media-breakpoint-up(md) {
                        height: 102%;
                        bottom: initial;
                        top: -1%;
                        -webkit-mask-size: cover;
                    }

                    &.c1 {
                        @include media-breakpoint-up(md) {
                            mask-image: url($cutout-1);
                            mask-repeat: no-repeat;
                        }
                    }

                    &.c2 {
                        @include media-breakpoint-up(md) {
                            mask-image: url($cutout-2);
                            mask-repeat: no-repeat;
                        }
                    }

                    &.c3 {
                        @include media-breakpoint-up(md) {
                            mask-image: url($cutout-3);
                            mask-repeat: no-repeat;
                        }
                    }

                    &.--left {
                        @include media-breakpoint-up(md) {
                            -webkit-mask-position: left;
                        }
                    }

                    &.--right {
                        transform: scaleX(-1);

                        @include media-breakpoint-up(md) {
                            -webkit-mask-position: left;
                            left: initial;
                            right: -1%;
                        }
                    }
                }
            }

            &__content {
                @include media-breakpoint-up(lg) {
                    padding: $spacer-8 17rem;
                }
            }

            // style overrides when margins are present
            &.pd-content-margins {
                .pd-billboard {
                    &__content {
                        @include media-breakpoint-up(lg) {
                            padding: $spacer-11;
                        }
                    }
                }

                // cutout shapes for billboard with margin
                &.cutout {
                    .cutout-shape {
                        &.c1 {
                            @include media-breakpoint-up(md) {
                                mask-image: url($cutout-1-m);
                                mask-repeat: no-repeat;
                            }
                        }

                        &.c2 {
                            @include media-breakpoint-up(md) {
                                mask-image: url($cutout-2-m);
                                mask-repeat: no-repeat;
                            }
                        }

                        &.c3 {
                            @include media-breakpoint-up(md) {
                                mask-image: url($cutout-3-m);
                                mask-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}
