.body-text {
    a {
        @include cwg-animated-underline(false);
    }

    &.color--black {
        a {
            color: $black;
        }
    }

    &.color--white {
        a {
            color: $white100;
        }
    }

    &.color--green02 {
        a {
            color: $green100;
        }
    }

    &.link-color-green {
        a {
            color: $green100;
        }
    }
}
