$gingerbread: #af783c;

.pd-button {
    display: inline-block;
    padding: 11px 24px;
    width: max-content;
    background-color: $black;
    color: $white100;
    font-family: $font-Euclid;
    font-weight: $font-weight-bold;
    border-radius: 100px;
    border: none;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    transition: all 0.2s;
    text-align: center;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        padding: 12px 32px;
        margin: -1px -8px;
    }

    &--forrest {
        background-color: $forrest;
        color: $shamrock;
    }

    &--shamrock {
        background-color: $shamrock;
        color: $forrest;
    }

    &--white {
        background-color: $white100;
        color: $black;
    }

    &--gingerbread {
        background-color: $gingerbread;
        color: $white100;
    }

    &--secondary {
        border: 1px solid $black;
        background-color: transparent !important;
        color: $black;

        &.pd-button--forrest {
            border: 1px solid $forrest;
            color: $forrest;
        }

        &.pd-button--shamrock {
            border: 1px solid $shamrock;
            color: $shamrock;
        }

        &.pd-button--white {
            border: 1px solid $white100;
            color: $white100;
        }
    }

    &--tertiary,
    &--tertiary-reversed {
        padding: 11px 0;
        border: none;
        background-color: transparent !important;
        color: $black;
        transition: none;

        &.pd-button--forrest {
            color: $forrest;
        }

        &.pd-button--shamrock {
            color: $shamrock;
        }

        &.pd-button--white {
            color: $white100;
        }

        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            padding: 12px 0;
            margin: -1px 0;
        }
    }

    &--tertiary {
        @include cwg-animated-underline-with-target(span);
    }

    &--tertiary.reversed,
    &--tertiary-reversed {
        @include cwg-animated-underline-with-target(span, false);
    }

    &:disabled,
    [class*="pd-button-"][disabled] {
        background-color: #e6e6e6;
        color: $gray100;
        opacity: 1;
        pointer-events: auto;
        cursor: not-allowed;
    }

    &--play-pause,
    &--play-lg,
    &--play-sm {
        min-width: auto;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;

        .icon-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                position: absolute;
                content: "";
                display: block;
                background-color: $white100;
                border-radius: 100%;
                transition: transform 0.2s ease-in-out;
            }

            svg {
                position: absolute;
            }
        }

        &.pd-button:hover,
        &.pd-button:focus {
            padding: 0;
            margin: 0;
            min-width: auto;

            .icon-wrapper {
                &::before {
                    transform: scale(1.15);
                }
            }
        }
    }

    &--play-pause {
        .icon-wrapper {
            padding: 0;
            transform: translate(18px, 18px);

            &::before {
                width: 36px;
                height: 36px;
            }
        }

        svg {
            width: 36px;
            height: 36px;
        }
    }

    &--play-lg {
        .icon-wrapper {
            transform: translate(36px, 36px);

            &::before {
                width: 62px;
                height: 62px;
            }
        }

        svg {
            width: 15px;
            height: 18px;
        }
    }

    &--play-sm {
        transition: none;

        .icon-wrapper {
            padding: 0;
            background-color: transparent;
            transform: translate(3px, 4px);
        }

        &.pd-button:hover,
        &.pd-button:focus {
            transform: none;
        }

        svg {
            width: 7px;
            height: 8px;
        }
    }

    &--play-text {
        svg {
            margin-right: 4px;
            margin-bottom: 1px;
            width: 8px;
            height: 7px;
        }
    }
}

.button-hide {
    .pd-button {
        display: none;
        pointer-events: none;
    }
}
