.pd-containerMax {
    &-sm {
        max-width: 640px;
        margin-inline: auto;
    }

    @include media-breakpoint-up(md) {
        &-md {
            max-width: map-get($grid-breakpoints, md);
            margin-inline: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        &-lg {
            max-width: map-get($grid-breakpoints, lg);
            margin-inline: auto;
        }
    }

    @include media-breakpoint-up(xl) {
        &-xl {
            max-width: map-get($grid-breakpoints, xl);
            margin-inline: auto;
        }
    }

    @include media-breakpoint-up(xxl) {
        &-xxl {
            max-width: map-get($grid-breakpoints, xxl);
            margin-inline: auto;
        }
    }
}

.pd {
    //Margins - Top and Bottom
    &-mt,
    &-mt-sm {
        &-12rem {
            margin-top: 12rem !important;
        }
    }

    &-mb,
    &-mb-sm {
        &-12rem {
            margin-top: 12rem !important;
        }
    }

    @include media-breakpoint-up(md) {
        &-mt-md {
            &-12rem {
                margin-top: 12rem !important;
            }
        }

        &-mb-md {
            &-12rem {
                margin-bottom: 12rem !important;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &-mt-lg {
            &-12rem {
                margin-top: 12rem !important;
            }
        }

        &-mb-lg {
            &-12rem {
                margin-bottom: 12rem !important;
            }
        }
    }
}

//Undo Margins and Spacing around components in a container
.experience-commerce_layouts-containerAdjustableWidth {
    .statement-text__content {
        padding: 0;
    }

    + .experience-commerce_assets-horizontalGallery {
        .gallery-wrapper {
            margin-block-start: 0;
        }
    }
}
