.editorial-gallery-group {
    max-width: map-get($grid-breakpoints, lg);
    margin: 60px auto;
    padding: 0 30px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &-title {
        margin-bottom: 25px;
    }

    .editorial-gallery-items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &.isMirrored .editorial-gallery-items {
        flex-direction: column-reverse;
    }

    [class*="layout"] {
        width: 100%;
    }

    .layout3-small > div:not(:last-child) {
        margin-bottom: 40px;
    }

    .layout3-large {
        margin-bottom: 40px;
    }

    .editorial-gallery-img {
        height: 0;
        padding-bottom: 145.2%;
        margin-bottom: 24px;
        position: relative;
        background-color: $gray300;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .editorial-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: $green100;
        transform-origin: top center;
        z-index: 1;
    }

    .editorial-gallery-item-title:not(:last-child) {
        margin-bottom: 8px;
    }

    .editorial-gallery-item-text:not(:last-child) {
        margin-bottom: 16px;
    }

    @include media-breakpoint-up(md) {
        margin: 120px auto;
        padding: 0 40px;

        &-title {
            text-align: center;
            margin-bottom: 25px;
        }

        .editorial-gallery-items {
            flex-direction: row;
            gap: 40px;
            margin-bottom: 60px;
        }

        &.isMirrored .editorial-gallery-items {
            flex-direction: row-reverse;
        }

        .layout3-large {
            width: 61.08%;
            margin-bottom: 0;

            .editorial-gallery-img {
                padding-bottom: 145.47%;
            }
        }

        .layout3-small {
            width: 35.62%;

            .editorial-gallery-img {
                padding-bottom: 125%;
            }
        }

        .layout2-large {
            width: 56.16%;

            .editorial-gallery-img {
                padding-bottom: 115.89%;
            }
        }

        .layout2-small {
            width: 40.54%;

            .editorial-gallery-img {
                padding-bottom: 122.58%;
            }
        }

        .layout1 {
            width: 100%;

            .editorial-gallery-img {
                padding-bottom: 58.46%;
            }
        }

        .layout3-small > div:not(:last-child) {
            margin-bottom: 60px;
        }

        .editorial-gallery-item:not(:last-child) {
            margin-bottom: 60px;
        }

        .editorial-gallery-item-title:not(:nth-last-child) {
            margin-bottom: 16px;
        }

        .editorial-gallery-text {
            max-width: 75%;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 0 70px;

        &-title {
            margin-bottom: 60px;
        }

        &.editorial-gallery-max-width {
            padding: 0;
            max-width: calc(100% - 140px);
        }
    }

    @include media-breakpoint-up(xxl) {
        &.editorial-gallery-max-width {
            margin-left: auto;
            margin-right: auto;
            max-width: min(100%);
        }
    }
}

.editorial-gallery-container {
    margin-block-start: 60px;
    margin-block-end: 60px;

    .editorial-gallery-group {
        margin: 60px auto;
    }

    .load-more-section {
        text-align: center;
        margin-top: 60px;
        margin-block-end: 60px;
    }

    .load-more-button {
        overflow: hidden;

        svg {
            margin-left: 10px;
            will-change: transform;
            fill: white;
        }
    }

    @include media-breakpoint-up(md) {
        margin-block-start: 120px;
        margin-block-end: 120px;

        .load-more-section {
            margin-block-start: 90px;
            padding: 0 30px;
            margin-block-end: 120px;
        }
    }
}
