.finePrint {
    @include make-container();
    @include make-container-max-widths();

    color: $gray100;

    a {
        color: $black100;
        font-weight: $font-weight-bold;
        @include cwg-animated-underline(false);
    }

    ol,
    ul {
        padding-left: $spacer-4;
        list-style-position: outside;
    }

    li {
        &::before {
            display: inline-block;
            width: $spacer-3;
            margin-left: -$spacer-3;
            font-size: 60%;
            vertical-align: super;
        }

        &:not(:last-child) {
            margin-bottom: $spacer-6;
        }
    }

    &.list-numbered ol {
        counter-reset: list;

        li {
            counter-increment: list;
            position: relative;

            &::before {
                content: counter(list);
            }
        }
    }

    &.list-symbols ol {
        li:nth-child(1)::before {
            content: '*';
        }

        li:nth-child(2)::before {
            content: '**';
        }

        li:nth-child(3)::before {
            content: '†';
        }

        li:nth-child(4)::before {
            content: '‡';
        }

        li:nth-child(5)::before {
            content: '§';
        }
    }

    &.list-bullet ul {
        list-style-type: disc;
    }

    &.list-circle ul {
        list-style-type: circle;
    }
}
