.with-sticky-bar .how-it-works {
    padding-bottom: 72px;
}

.how-it-works {
    padding-top: 106px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: inherit;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
        grid-template-rows: auto;
        column-gap: 24px;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(8, calc((100% - (7 * 24px)) / 8));
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
        }
    }

    .how-start-text {
        text-align: center;
        margin-bottom: 150px;
    }

    .how-title {
        grid-column: 2 / 11;
    }

    .how-title.title-spacing {
        margin-bottom: 24px;
    }

    .how-description {
        grid-row-start: 2;
        grid-column: 4 / 9;
    }

    .how-pinned {
        position: relative;
        height: 0;
        padding-bottom: 22%;

        .wrapper {
            height: 100%;
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .how-sections-container {
        position: absolute;
        width: calc(100% - 140px);
        height: 100%;
        top: 0;

        > * {
            height: 100%;
        }
    }

    .how-visuals {
        position: relative;
        grid-column: 2 / 8;

        &.wide {
            grid-column: 1 / 9;
        }
    }

    .how-visual,
    .how-text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        will-change: opacity, transform;
    }

    .how-text {
        @include media-breakpoint-down(md) {
            padding: $spacer-11 0;
        }
    }

    .how-texts {
        @include media-breakpoint-down(md) {
            margin-bottom: $spacer-11;
        }
    }

    .how-visual {
        height: 140%;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }

        picture {
            &:nth-child(n+2) {
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .how-svg-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: visible;
        z-index: -1;

        > * {
            opacity: 0;
        }
    }

    .how-texts {
        position: relative;
        grid-column: 9 / 13;
    }

    @include media-breakpoint-up(xxl) {
        .how-sections-container {
            width: 100%;
        }

        .how-pinned {
            max-width: 100%;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 164px;

        .how-title {
            grid-column: 1 / 9;
        }

        .how-description {
            grid-column: 2 / 8;
        }

        .how-sections-container {
            width: calc(100% - 80px);
        }

        .how-visuals {
            grid-column: 1 / 5;
            box-sizing: border-box;
        }

        .how-visuals.wide {
            grid-column-end: 6;
        }

        .how-texts {
            grid-column: 6 / 9;
        }
    }

    @include media-breakpoint-down(xs) {
        .how-title {
            grid-column: 1 / 5;

            .title-spacing {
                margin-bottom: 16px;
            }
        }

        .how-description {
            grid-column: 1 / 5;
        }

        .how-pinned {
            height: auto;
            padding-bottom: 0;

            .wrapper {
                position: static;
                transform: none;
            }
        }

        .how-start-text {
            margin-bottom: 50px;
        }

        .how-sections-container {
            position: relative;
            width: 100%;
            height: 100vw;
            max-height: 500px;
        }

        .how-visuals {
            height: 0;
            padding-bottom: 59%;
            grid-column-end: 5;
        }

        .how-texts {
            grid-row-start: 2;
            grid-column: 1 / 5;
        }

        .how-visual,
        .how-text {
            top: auto;
            transform: none;
        }
    }

    /* stylelint-disable */
    @media (prefers-reduced-motion: reduce) {
        .how-pinned {
            height: auto;
            padding-bottom: 0;

            .wrapper {
                height: auto;
                position: relative;
                left: auto;
                transform: none;
            }
        }

        .how-sections-container {
            position: static;
            grid-template-areas: "gap1 visual1 visual1 visual1 visual1 visual1 visual1 gap2 text1 text1 text1 text1" "gap1 visual2 visual2 visual2 visual2 visual2 visual2 gap2 text2 text2 text2 text2" "gap1 visual3 visual3 visual3 visual3 visual3 visual3 gap2 text3 text3 text3 text3";
            align-items: center;
            row-gap: 100px;
        }

        .how-visuals,
        .how-texts {
            display: contents;
        }

        .how-visuals {
            > :nth-child(1) {
                grid-area: visual1;
            }

            > :nth-child(2) {
                grid-area: visual2;
            }

            > :nth-child(3) {
                grid-area: visual3;
            }
        }

        .how-texts {
            > :nth-child(1) {
                grid-area: text1;
            }

            > :nth-child(2) {
                grid-area: text2;
            }

            > :nth-child(3) {
                grid-area: text3;
            }
        }

        .how-visual,
        .how-text {
            position: static;
            transform: none;
        }
    }

    @media screen and (prefers-reduced-motion: reduce) and (max-width: 1024px) {
        .how-sections-container {
            grid-template-areas: "visual1 visual1 visual1 visual1 gap2 text1 text1 text1" "visual2 visual2 visual2 visual2 gap2 text2 text2 text2" "visual3 visual3 visual3 visual3 gap2 text3 text3 text3";
        }
    }

    @media screen and (prefers-reduced-motion: reduce) and (max-width: 640px) {
        .how-sections-container {
            grid-template-areas: "visual1" "text1" "visual2" "text2" "visual3" "text3";
            grid-template-columns: 1fr;
            row-gap: 0;
            max-height: none;
            height: auto;
        }

        .how-text:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .how-pinned {
            height: auto;
            padding-bottom: 0;

            .wrapper {
                height: auto;
                position: relative;
                left: auto;
                transform: none;
            }
        }

        .how-sections-container {
            position: static;
            grid-template-areas: "gap1 visual1 visual1 visual1 visual1 visual1 visual1 gap2 text1 text1 text1 text1" "gap1 visual2 visual2 visual2 visual2 visual2 visual2 gap2 text2 text2 text2 text2" "gap1 visual3 visual3 visual3 visual3 visual3 visual3 gap2 text3 text3 text3 text3";
            align-items: center;
            row-gap: 100px;
        }

        .how-visuals,
        .how-texts {
            display: contents;
        }

        .how-visuals {
            > :nth-child(1) {
                grid-area: visual1;
            }

            > :nth-child(2) {
                grid-area: visual2;
            }

            > :nth-child(3) {
                grid-area: visual3;
            }
        }

        .how-texts {
            > :nth-child(1) {
                grid-area: text1;
            }

            > :nth-child(2) {
                grid-area: text2;
            }

            > :nth-child(3) {
                grid-area: text3;
            }
        }

        .how-visual,
        .how-text {
            position: static;
            transform: none;
        }
    }

    @media screen and (prefers-reduced-motion: reduce) and (max-width: 1024px) {
        .how-sections-container {
            grid-template-areas: "visual1 visual1 visual1 visual1 gap2 text1 text1 text1" "visual2 visual2 visual2 visual2 gap2 text2 text2 text2" "visual3 visual3 visual3 visual3 gap2 text3 text3 text3";
        }
    }

    @media screen and (prefers-reduced-motion: reduce) and (max-width: 640px) {
        .how-sections-container {
            grid-template-areas: "visual1" "text1" "visual2" "text2" "visual3" "text3";
            grid-template-columns: 1fr;
            row-gap: 0;
            max-height: none;
            height: auto;
        }

        .how-text:not(:last-child) {
            margin-bottom: 100px;
        }
    }
    /* stylelint-enable */
}
