.modal-position-left {
    position: absolute;
    left: 44px;
    bottom: 94px;
}

.modal-position-right {
    position: absolute;
    right: 114px;
    bottom: 94px;
}

.modal-position-center {
    position: absolute;
    top: 42%;
    left: 45%;
}

.js-image-position-relative {
    position: relative;
}
