.pd-legal {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0 30px;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
        column-gap: $spacer-11;
        padding: 0 40px;
    }

    @include media-breakpoint-up(md) {
        column-gap: 10rem;
        padding: 0 70px;
    }

    @include media-breakpoint-up(lg) {
        column-gap: 14rem;
    }

    nav {
        margin-top: 30px;
        margin-bottom: 0;
        flex-grow: 1;
        flex-shrink: 0;

        @include media-breakpoint-up(sm) {
            margin-top: 60px;
        }

        @include media-breakpoint-up(md) {
            margin-top: 96px;
        }
    }

    .row {
        flex-direction: row;

        @include media-breakpoint-up(sm) {
            flex-direction: column;
        }

        &.republic-of-china-links {
            flex-direction: column;
            margin-top: $spacer-7;

            @include media-breakpoint-up(sm) {
                flex-direction: row;
            }
        }
    }

    .tabList {
        width: 100%;
        column-gap: 0.5em;
        align-content: space-between;

        @include media-breakpoint-up(sm) {
            column-gap: 1.5em;
        }
    }

    .tab-content {
        flex-grow: 2;
        flex-shrink: 1;
        margin-top: 30px;

        @include media-breakpoint-up(sm) {
            margin-top: 60px;
        }

        @include media-breakpoint-up(md) {
            margin-top: 96px;
        }
    }

    .font-size-h3,
    .last-updated {
        margin-bottom: 24px;
    }

    .font-size-medium {
        font-size: 1.4rem;
    }

    ul,
    ol {
        padding-left: $spacer-7;
        margin: $spacer-5 0 $spacer-3;

        li {
            margin-bottom: $spacer;

            &:last-child {
                margin-bottom: $spacer-6;
            }

            &.font-size-medium {
                margin-bottom: $spacer-7;
            }
        }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;

        ol {
            list-style: lower-alpha;

            ol {
                list-style: lower-roman;
            }
        }
    }

    a {
        &:not(.nav-link) {
            display: inline-block;
        }

        @include cwg-animated-underline-with-target('span', true);

        &.active:focus {
            @include cwg-animated-underline-with-target('span', false);
        }

        &.scrollItem,
        &.noSpan {
            @include cwg-animated-underline(false);
        }

        &.nav-link {
            font-size: 1.4rem;
            padding: 1rem;
            width: 45vw;

            @include media-breakpoint-up(sm) {
                width: auto;
            }

            span {
                display: inline-block;
            }
        }
    }

    strong {
        font-weight: 500;
    }

    .privacy-table {
        border: 1px solid black;
    }

    .privacy-table th,
    .privacy-table td {
        width: 50%;
        padding: $spacer-3;
    }

    .privacy-table tr,
    .privacy-table th,
    .privacy-table td,
    .privacy-table tr:first-child,
    .privacy-table th:first-child,
    .privacy-table td:first-child {
        border: 1px solid black;
    }

    .privacy-table ul {
        list-style: disc;
        // margin-left: $spacer-6;
    }
}

// todo: if creative calls out the links on single lines and want multi line underline
// span {
//     color: currentColor;
//     display: inline;
//     background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
//     background-position: 0 1.2rem;
//     background-repeat: no-repeat;
//     background-size: 100% 2px;
//     transition: background-size 0.5s ease-in-out 0.2s;
// }

// &:hover,
// &:focus {
//     span {
//         background-size: 0% 2px;
//     }
// }

// ---- reverse ---- \\
// span {
//     background-size: 0% 2px;
// }

// &:hover,
// &:focus {
//     span {
//         background-size: 100% 2px;
//     }
// }
