.paragraph-text {
    max-width: 640px;
    margin: 0 auto;

    &__content {
        padding: 0 $spacer-7;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        &-heading {
            padding-bottom: $spacer-9;

            .experience-commerce_assets-text:first-child {
                padding-bottom: $spacer-4;
            }
        }

        &-body {
            .experience-commerce_assets-text,
            .experience-commerce_assets-bodytext {
                padding-bottom: $spacer-4;
            }

            .experience-commerce_assets-text:last-child,
            .experience-commerce_assets-bodytext:last-child {
                padding-bottom: $spacer-0;
            }
        }
    }

    a {
        &.reversed {
            @include cwg-animated-underline(false);

            display: inline-block;
        }
    }

    li {
        position: relative;
        padding-left: $spacer-4;

        &::before {
            content: "-";
            position: absolute;
            left: 0;
        }
    }
}

.paragraph-text,
.text-content {

    //TODO: @Mike Remove if not used anywhere
    p + p {
        margin-top: $spacer-4;
    }
}

.paragraph-text .font-size-xl {
    line-height: 1.5;
}
