.statement-text {
    &__content {
        padding: $spacer-9 $spacer-7;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            width: 80%;
        }

        @include media-breakpoint-up(lg) {
            width: 60%;
        }

        @include media-breakpoint-up(xxl) {
            width: 50%;
        }

        .experience-title {
            padding-bottom: $spacer-6;
        }
    }
}

// Accomodating for narrow statement text on stories pages
.statement-text {
    &.w-md-33 {
        margin: auto;
    }

    &.w-md-33 .statement-text__content {
        width: 100%;
    }

    &__content {
        padding: $spacer-9 $spacer-7;
        margin: 0 auto;

        .experience-title {
            padding-bottom: $spacer-6;
        }
    }
}

.statement-text .experience-body p {
    margin-bottom: 16px;
}

.statement-text .font-size-xl {
    line-height: 1.5;
}
