$fog: #f0f0f0;

.with-sticky-bar #footer {
    padding-bottom: 142px;
}

.sticky-bar {
    position: fixed;
    @include z-index("footer");

    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: $white100;
    transform: translate(0, 100%);
    transition: transform 0.5s 0.5s ease-out;

    &.visible {
        transform: translate(0, 0);
    }

    .sticky-bar-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: EuclidMedium;
    }

    .mobile-sticky-list {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: inherit;
        border-bottom: 1px solid $fog;
        padding: 23px 0;
        z-index: -1;
        transform: translate(0, 100%);

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            font-family: Euclid;
            line-height: 38px;
            margin: 0 25px;
            position: relative;

            &::after {
                content: "";
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $black100;
                transform: scale3d(0, 1, 1);
                transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
                transform-origin: 100% 50%;
            }

            &:hover::after,
            &:focus::after {
                transform: scale3d(1, 1, 1);
                transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
                transform-origin: 0 50%;
            }
        }

        li.active {
            &::after {
                transform: scale3d(1, 1, 1);
                transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
                transform-origin: 0 50%;
            }
        }
    }

    .sticky-bar-content-wrapper {
        height: 100%;
        background-color: inherit;
        display: flex;
        align-items: center;
        max-width: 2048px;
    }

    .wrapper {
        padding: 0 $spacer-4;

        @include media-breakpoint-up(sm) {
            padding: 0 $spacer-7;
        }

        @include media-breakpoint-up(md) {
            padding: 0 $spacer-11;
        }
    }

    .desktop-sticky-list {
        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        ul {
            display: flex;
            gap: $spacer-5;
        }
    }

    .desktop-sticky-title {
        font-weight: $font-weight-bold;
    }

    .desktop-sticky-title,
    .desktop-sticky-list {
        display: none;

        @include media-breakpoint-up(sm) {
            display: block;
        }
    }

    .mobile-sticky-list-button.no-items {
        pointer-events: none;

        svg {
            display: none;
        }
    }

    .mobile-sticky-list-button {
        display: flex;
        align-items: center;
        padding: 11px 0;

        span {
            margin-right: 4px;
        }

        svg {
            transform-origin: center center;
            transform: rotate(180deg);
            margin-bottom: 4px;
        }

        h5 {
            margin-right: 15px;
        }
    }

    .mobile-sticky-list,
    .mobile-sticky-list-button {
        @include heading-h6;
    }

    .mobile-sticky-list,
    .mobile-sticky-list-button {
        display: block;

        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
}
