.tag {
    background-color: $white100;
    display: inline-flex;
    padding: 3px 20px 3px 3px;
    border-radius: 50px;

    &-image {
        margin-inline-end: $spacer-3;
        align-self: center;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-heading {
            font-size: 15px;
            line-height: 15px;
            font-weight: $font-weight-bold;
        }

        .text-subheading {
            font-size: $font-size-sm;
            line-height: 18px;
            font-weight: $font-weight-regular;
        }
    }

    &--small {
        padding: 3px $spacer-4 3px 3px;
        border-radius: 40px;

        .tag-image {
            margin-inline-end: $spacer-3;

            .avatar {
                width: 37px;
                height: 37px;
            }
        }

        .tag-text {
            .text-heading {
                font-size: $font-size-md;
                line-height: $font-size-md;
            }

            .text-subheading {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    &--transparent {
        background-color: transparent;
    }
}
