$fog: #f0f0f0;

.textural-video {
    position: relative;
    height: 300vh;
    color: white100;
    margin-top: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: $fog;
    }

    .video-sticky {
        position: sticky;
        top: 0;
        margin-top: -100vh;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-container {
        position: relative;
        height: 100%;
        clip-path: inset(0);

        @include media-breakpoint-up(md) {
            clip-path: inset(72px);
        }
    }

    video,
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 70px);
        height: 100%;
        text-align: center;
    }

    .video-grid {
        height: 100%;
        align-items: center;
    }

    .video-text {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        line-height: 1.05;

        @include media-breakpoint-up(sm) {
            font-size: 68px;
        }

        @include media-breakpoint-up(md) {
            font-size: 82px;
        }

        &.color-white {
            color: $white100;
        }
    }

    .video-controls {
        position: absolute;
        right: 32px;
        bottom: 32px;
        width: 36px;
        height: 36px;

        button {
            display: flex;
        }

        svg {
            overflow: visible;
        }
    }
}

.with-sticky-bar .textural-video .video-controls {
    bottom: 104px;
}

.pre-video-section {
    position: relative;
    z-index: z-index(body);
    background-color: inherit;
}
