.two-column-layout-wrapper {
    max-width: map-get($grid-breakpoints, lg);
    margin: $spacer-9 auto;
    padding: 0 $spacer-7;
    position: relative;

    .two-column-layout-col-1-2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $spacer-5;
        column-gap: 0;
        grid-template-areas:
            "col-1"
            "col-2";

        @include media-breakpoint-down(sm) {
            &.reversed-sm-only {
                grid-template-areas:
                    "col-2"
                    "col-1";
            }
        }
    }

    .two-column-layout-col-1 {
        grid-area: col-1;
    }

    .two-column-layout-col-2 {
        grid-area: col-2;
    }

    .experience-columnOne {
        .two-column-layout-wrapper {
            padding: 0;
        }
    }

    .experience-columnTwo {
        .two-column-layout-wrapper {
            padding: 0;
        }
    }

    @include media-breakpoint-up(md) {
        margin: 120px auto;
        padding: 0 $spacer-8;

        .two-column-layout-col-1-2 {
            grid-template-areas: "col-1 col-2";
            display: grid;
            column-gap: $spacer-5;
            min-width: 0;
            min-height: 0;
        }

        .col-width-30x70 {
            grid-template-columns: 1fr 2fr;
            height: 100%;
        }

        .col-width-50x50 {
            grid-template-columns: 1fr 1fr;
            height: 100%;
        }

        .col-width-70x30 {
            grid-template-columns: 2fr 1fr;
            height: 100%;
        }

        .two-column-layout-col-1,
        .two-column-layout-col-2 {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 0 $spacer-9;
    }

    //Remove Padding and Margin from internal components
    .statement-text__content {
        width: 100%;
        margin: 0;
        padding: 0;

        @include media-breakpoint-up(md) {
            width: 80%;
        }
    }

    .editorial-gallery-group {
        margin: 0;
        padding: 0;

        .editorial-gallery-img {
            margin-bottom: 0;
        }

        .editorial-gallery-group-title {
            margin-bottom: 0;
        }

        .editorial-gallery-items {
            margin-bottom: 0;
        }
    }
}
