// Fonts
$font-size-hero: $font-size-base * 6.8; // 68px
$font-size-hero-mobile: $h1-mobile-font-size; // 40px

// Widths
$hh-max-width: 2048px;
$cutout-break-1: 470px;
$cutout-break-2: 640px;

// Cutout shapes
$twoupcut: 'data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4ODAgMzM1Ij4KICA8Y2lyY2xlIGN4PSI0NDAiIGN5PSI5NjUiIHI9Ijk2NSIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K';
$mobilecut: 'data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNTQgMjc4Ij4KICA8bWFzayBpZD0iYSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjM1NCIgaGVpZ2h0PSIyNzgiPgogICAgPHJlY3Qgd2lkdGg9IjM1NCIgaGVpZ2h0PSIyNzgiIHJ4PSI4IiBmaWxsPSIjRkFDM0JFIi8+CiAgPC9tYXNrPgogIDxnIG1hc2s9InVybCgjYSkiPgogICAgPHBhdGggZD0ibS0zNTQuNjM5IDI5OC45NzgtLjE1OS4xODEgNTc4LjMxOSA1MDcuNzY3TDcwNi4yNiAyNTcuMTEyUzUxOC41ODYgNDMuMDk2IDIxNS45MzMgMTcuOTI4Qy04NS44NzctNy4xNjktMzM0Ljk5IDI3Ni41OTYtMzU0LjYzOSAyOTguOTc4WiIgZmlsbD0iI2ZmZiIvPgogIDwvZz4KPC9zdmc+Cg==';
$cutout-1: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NjUgNjYwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KICA8cGF0aCBkPSJNNDU5LjUgMGM0My42IDM1IDg3LjEgODYuNiAxMTguNCAxNjkuOEM2NjcuMSA0MDcuMyA2NDggNjYwIDY0OCA2NjBILS4yVjBoNDU5Ljd6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K';
$cutout-2: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MzggNjYwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KICA8cGF0aCBkPSJNNzM1LjkgMjgyLjJjLTE3LjQgMTI3LjItMjEuOSAyNjQuMy05OS44IDM2MC01LjEgNi4zLTEwLjEgMTIuMi0xNS4xIDE3LjhIMFYwaDg5NUM3NzEgNzYuNiA3NDkuNyAxODEuNyA3MzUuOSAyODIuMnoiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==';
$cutout-3: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MzYgNjYwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KICA8cGF0aCBkPSJNMCAwaDkwMUw2NTAuMyA2NjBIMFYweiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K';

$cutout-1-m: 'data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NzAgODYwIj4KICA8bWFzayBpZD0iYSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9Ijc3MCIgaGVpZ2h0PSI4NjAiPgogICAgPHBhdGggZD0iTTAgMTZDMCA3LjE2MyA3LjE2MyAwIDE2IDBoNzU0djg2MEgxNmMtOC44MzcgMC0xNi03LjE2My0xNi0xNlYxNloiIGZpbGw9IiNDNEM0QzQiLz4KICA8L21hc2s+CiAgPGcgbWFzaz0idXJsKCNhKSI+CiAgICA8cGF0aCBkPSJNLTY4LjcyNS05OEgtNjl2OTY5aDgzMi40NDhzNDIuMDk4LTM1NS4zNi0xNjMuNTc2LTY2Mi42MjVDMzk0Ljc3MS05OC4wMzUtMzQuODQtOTguMDAzLTY4LjcyNS05OFoiIGZpbGw9IiNmZmYiLz4KICA8L2c+Cjwvc3ZnPgo=';
$cutout-2-m: 'data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4OTAgODYwIj4KICA8cGF0aCBkPSJNNjkyLjcxMiAzNjcuNzU3Yy0yMS42MTYgMTY1LjczNS0yNy4xNjkgMzQ0LjM3Ni0xMjMuNzk5IDQ2OS4xMDFBNjYxLjE3OCA2NjEuMTc4IDAgMCAxIDU1MC4xNTUgODYwSC0yMTJhOCA4IDAgMCAxLTgtOFY4YTggOCAwIDAgMSA4LThIODkwQzczNi4yNTggOTkuODM3IDcwOS44MDEgMjM2LjczMSA2OTIuNzEyIDM2Ny43NTdaIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=';
$cutout-3-m: 'data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4ODAgODYwIj4KICA8cGF0aCBkPSJNLTY1IDcuOTk5YTggOCAwIDAgMSA4LThoOTM3bC0yNjIuOTA2IDg2MEgtNTdhOCA4IDAgMCAxLTgtOHYtODQ0WiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K';

//This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge(
    (
        25: 25%,
        33: 33.3333%,
        50: 50%,
        66: 66.6666%,
        75: 75%,
        100: 100%
    ),
    $sizes
);
