@import '../../../abstracts/index';

.page-designer {
    .explore-planets {
        width: 100%;
        padding-top: 750px;
        padding-bottom: 60px;
        background-color: #000;
        color: #fff;
        margin-top: -1px;
        margin-bottom: 0;

        .gallery {
            margin: 0;
        }

        .planet-cuts,
        .planet-big {
            position: absolute;
        }

        .planet-cuts {
            width: 700px;
            max-width: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .planet-big {
            bottom: 0;
            will-change: transform, opacity;
        }

        #particles-js {
            position: absolute;
            top: -10%;
            bottom: -70%;
            right: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            overflow-y: hidden;
        }
        /* stylelint-disable */
        @media screen and (min-width: 1441px) {
            padding-top: 950px;

            .planet-cuts {
                width: 900px;
            }
        }

        @media screen and (max-width: 640px) {
            padding-top: 110vw;
        }
        /* stylelint-enable */
    }
}
