@import '../../../abstracts/index';

.page-designer {
    .maker-flowers {
        padding-top: 460px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        .wrapper {
            margin-left: auto;
            margin-right: auto;
            padding: 0 70px;
            max-width: 1440px;
        }

        .maker-text {
            margin-bottom: 850px;

            @include media-breakpoint-up(md) {
                max-width: 45%;
            }
        }

        .flower-sequences {
            width: 100%;
            height: 100%;
            left: 0;
            top: 450px;
        }

        .flower-cuts {
            width: 700px;
            max-width: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .flower-sequence {
            &[data-color=purple] {
                width: 40%;
                top: -26%;
                left: 44%;

                @include media-breakpoint-down(sm) {
                    width: 40%;
                    top: -4%;
                    left: 18%;
                }
            }

            &[data-color=blue] {
                width: 30%;
                top: 22%;
                left: 0%;
            }

            &[data-color=red] {
                width: 20%;
                top: 14%;
                left: 61%;
            }

            &[data-color=yellow] {
                width: 15%;
                top: 8.5%;
                left: 83%;
            }

            &[data-color=pink] {
                width: 20%;
                top: 37.5%;
                left: 85%;
            }
        }
    }

    .maker-flowers .maker-text h2 {
        margin-bottom: 29px;
    }

    .maker-flowers .flower-sequences,
    .maker-flowers .flower-sequence,
    .maker-flowers .flower-cuts,
    .maker-flowers .flower-big {
        position: absolute;
    }

    .maker-flowers .flower-big {
        bottom: 0;
    }

    /* stylelint-disable */
    @media screen and (min-width: 1441px) {
        .maker-flowers .maker-text {
            margin-bottom: 1050px;
        }

        .maker-flowers .flower-cuts {
            width: 900px;
        }

        .maker-flowers [data-color=purple] {
            top: -28%;
            left: 50%;
        }

        .maker-flowers [data-color=blue] {
            top: 22.5%;
        }

        .maker-flowers [data-color=red] {
            top: 15%;
            left: 70%;
        }

        .maker-flowers [data-color=yellow] {
            top: 7.5%;
            left: 92%;
        }

        .maker-flowers [data-color=pink] {
            top: 37.5%;
            left: 88%;
        }
    }

    @media screen and (max-width: 1024px) {
        .maker-flowers {
            padding-top: 200px;
        }

        .maker-flowers [data-color=yellow],
        .maker-flowers [data-color=pink] {
            display: none;
        }

        .maker-flowers .maker-text {
            text-align: center;
            margin-bottom: 1250px;
        }

        .maker-flowers [data-color=purple] {
            top: 19%;
            left: 51%;
        }

        .maker-flowers [data-color=blue] {
            top: 34%;
            left: 9%;
        }

        .maker-flowers [data-color=red] {
            width: 30%;
            top: 42%;
            left: 69%;
        }
    }

    @media screen and (max-width: 640px) {
        .maker-flowers {
            padding-top: 60px;
        }

        .maker-flowers .maker-text h2 {
            margin-bottom: 35px;
        }

        .maker-flowers [data-color=purple] {
            top: 17%;
        }

        .maker-flowers [data-color=blue] {
            top: 32%;
        }

        .maker-flowers [data-color=red] {
            top: 37%;
        }
    }
}
/* stylelint-enable */
