@import '../../../../abstracts/index';

.page-designer {
    .easypress-peace {
        overflow: hidden;

        .wrapper {
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 30px;

            @include media-breakpoint-up(md) {
                padding: 0 40px;
            }

            @include media-breakpoint-up(lg) {
                padding: 0 40px;
            }
        }

        .grid-container {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
            grid-template-rows: auto;
            column-gap: 24px;

            @include media-breakpoint-up(sm) {
                grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;

                .peace-text {
                    order: 2;
                    margin-top: $spacer-8;
                    margin-bottom: $spacer-8;
                }

                .peace-visuals {
                    order: 1;
                }
            }
        }
    }

    .easypress-peace .grid-container {
        align-items: center;
    }

    .easypress-peace .peace-visual {
        grid-column: 1 / 8;
        grid-row-start: 1;
    }

    .easypress-peace .peace-text {
        grid-column: 8 / 13;
    }

    .easypress-peace .peace-title {
        margin-bottom: 24px;
    }

    @include media-breakpoint-down(sm) {
        .easypress-peace .peace-visual {
            grid-column: 1 / 5;
        }

        .easypress-peace .peace-text {
            grid-column: 5 / 9;
        }
    }

    @include media-breakpoint-down(xs) {
        .easypress-peace .peace-visual {
            grid-column: 1 / 5;
            grid-row-start: 2;
        }

        .easypress-peace .peace-text {
            grid-column: 1 / 5;
        }

        .easypress-peace .peace-title {
            margin-bottom: 16px;
        }
    }
}
