.grid-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

.grid-tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 10px auto 10px auto 10px auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

.grid-tiles>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-tiles>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-tiles>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid-tiles>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-tiles>*:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid-tiles>*:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid-tiles>*:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid-tiles>*:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid-tiles>*:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid-tiles>*:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid-tiles>*:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid-tiles>*:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}