// out: false

/* * * * *  * 
* VARIABLES *
* * * * * * */


/* * * * 
* CARD *
* * *  */

.bb-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-bottom: 8px;

    &--left {
        align-items: flex-start;
    }

    &--center {
        align-items: center;
    }

    &-copy {
        // padding: 16px 0 8px;
    }

    &-cta {
        // padding: 8px 0 16px;
    }
}