// out: false

/* * * * *  * 
* VARIABLES *
* * * * * * */
@card-center: center;

@card-spacing-lg: 16px;
@card-spacing-md: calc(@card-spacing-lg / 2);


/* * * * 
* CARD *
* * * */
.card {
    display: flex;
    flex-direction: column;
    justify-content: @card-center;

    @media screen and (min-width: @breakpoint-md) {
        align-items: @card-center;
        text-align: @card-center;
    }

    &--left {
        align-items: flex-start;
        text-align: left;
    }

    &--center {
        align-items: @card-center;
        text-align: @card-center;
    }

    &-copy {
        padding: @card-spacing-lg;

        & > * {
            margin-bottom: @card-spacing-md;
            ;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &-cta {
        padding: 0 @card-spacing-lg @card-spacing-lg;
    }
}