// out: ../../css/components/navbar.css, compress: true, sourceMap: true
@import "../base/_import.less";

// Name:            Navbar
// Description:     Component to create horizontal navigation bars
//
// Component:       `bb-navbar`
//
// Sub-objects:     `bb-navbar-container`
//                  `bb-navbar-left`
//                  `bb-navbar-right`
//                  `bb-navbar-center`
//                  `bb-navbar-center-left`
//                  `bb-navbar-center-right`
//                  `bb-navbar-nav`
//                  `bb-navbar-item`
//                  `bb-navbar-toggle`
//                  `bb-navbar-subtitle`
//                  `bb-navbar-dropbar`
//
// Adopted:         `bb-navbar-dropdown` + Modifiers
//                  `bb-navbar-dropdown-nav`
//                  `bb-navbar-dropdown-grid`
//                  `bb-navbar-toggle-icon`
//
// Modifiers:       `bb-navbar-primary`
//                  `bb-navbar-transparent`
//                  `bb-navbar-sticky`
//                  `bb-navbar-dropdown-stack`
//
// States:          `bb-active`
//                  `bb-parent`
//                  `bb-open`
//
//
// ========================================================================


// Variables
// ========================================================================

@navbar-background:                             @global-muted-background;
@navbar-color-mode:                             none;

@navbar-nav-item-height:                        80px;
@navbar-nav-item-padding-horizontal:            15px;
@navbar-nav-item-color:                         @global-muted-color;
@navbar-nav-item-font-size:                     @global-font-size;
@navbar-nav-item-font-family:                   @global-font-family;
@navbar-nav-item-hover-color:                   @global-color;
@navbar-nav-item-onclick-color:                 @global-emphasis-color;
@navbar-nav-item-active-color:                  @global-emphasis-color;

@navbar-item-color:                             @global-color;

@navbar-toggle-color:                           @global-muted-color;
@navbar-toggle-hover-color:                     @global-color;

@navbar-subtitle-font-size:                     @global-small-font-size;

@navbar-dropdown-z-index:                       @global-z-index + 20;
@navbar-dropdown-width:                         200px;
@navbar-dropdown-margin:                        0;
@navbar-dropdown-padding:                       15px;
@navbar-dropdown-background:                    @global-muted-background;
@navbar-dropdown-color:                         @global-color;
@navbar-dropdown-grid-gutter-horizontal:        @global-gutter;
@navbar-dropdown-grid-gutter-vertical:          @navbar-dropdown-grid-gutter-horizontal;

@navbar-dropdown-dropbar-margin-top:            0;
@navbar-dropdown-dropbar-margin-bottom:         @navbar-dropdown-dropbar-margin-top;

@navbar-dropdown-nav-item-color:                @global-muted-color;
@navbar-dropdown-nav-item-hover-color:          @global-color;
@navbar-dropdown-nav-item-active-color:         @global-emphasis-color;
@navbar-dropdown-nav-header-color:              @global-emphasis-color;
@navbar-dropdown-nav-divider-border-width:      @global-border-width;
@navbar-dropdown-nav-divider-border:            @global-border;
@navbar-dropdown-nav-sublist-item-color:        @global-muted-color;
@navbar-dropdown-nav-sublist-item-hover-color:  @global-color;
@navbar-dropdown-nav-sublist-item-active-color: @global-emphasis-color;

@navbar-dropbar-background:                     @navbar-dropdown-background;
@navbar-dropbar-z-index:                        @global-z-index - 20;