@for $i from 0 through 12 {
    .pd-spacer-#{$i} {
        &--top {
            margin-top: map-get($spacers, $i) !important;
        }

        &--bottom {
            margin-bottom: map-get($spacers, $i) !important;
        }
    }
}

.pd-spacer {
    &--top {
        margin-top: $spacer;
    }

    &--bottom {
        margin-bottom: $spacer;
    }
}
