.pd-content-margins {
    border-radius: 4px;
    margin: $spacer-7;
    width: calc(100% - #{$spacer-7 * 2});

    @include media-breakpoint-up(lg) {
        margin: $spacer-9 $spacer-11;
        width: calc(100% - #{$spacer-11 * 2});
    }

    @media (min-width: $hh-max-width) {
        margin: $spacer-9 0;
        width: 100%;
    }

    + .pd-content-margins {
        margin-top: 0;
    }

    &__text {
        &--top {
            margin-top: $spacer-7;
        }

        &--bottom {
            margin-bottom: $spacer-7;
        }
    }

    .pd-billboard {
        border-radius: 4px;

        &__img {
            @include media-breakpoint-up(lg) {
                border-radius: 7px;
            }
        }
    }

    &.cutout {
        .pd-billboard {
            &__img {
                @include media-breakpoint-up(lg) {
                    border-radius: 7px;
                }
            }
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $length in $sizes {
        @include media-breakpoint-up($breakpoint) {
            .w-#{$breakpoint}-#{$size} {
                width: $length !important;
            }
        }
    }
}

@for $i from 1 through 4 {
    $col-width: calc((100% / #{$i}) - (( var(--grid-gutter-width, #{$grid-gutter-width}) / 2 ) * (#{$i} - 1)));
    @include media-breakpoint-down(sm) {
        .row-cols-#{$i} > * {
            flex: 1 0 $col-width;
            max-width: (100% / #{$i});
        }
    }
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            .row-cols-#{$breakpoint}-#{$i} > * {
                flex: 1 0 $col-width;
                max-width: (100% / #{$i});
            }
        }
    }
}
