<footer class="bb-footer">
    <div class="bb-col bb-col-1-3">
        <div class="bb-col-item">
            <div class="bb-footer-links">
                <ul>
                    <li><a href="#">About</a></li>
                    <li"><a href="#">Projects</a></li>
                    <li><a href="#">Arcade</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
        <div class="bb-col-item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptate exercitationem nihil fugiat,
                numquam sapiente deserunt cum necessitatibus odio commodi excepturi doloremque quod dignissimos
                assumenda sequi unde tempore labore eveniet?</p>
        </div>
    </div>
</footer>