<footer class="bb-footer">
    <div class="bb-col bb-col-1-2">
        <div class="bb-col-item">
            <div class="bb-footer-links flexContainer flexCentered">
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                    <li><a href="#">Item 4</a></li>
                </ul>
            </div>
        </div>
        <div class="bb-col-item flexContainer flexCol flexCenteredMain">
            <div class="bb-col bb-col-2">
                <div class="bb-col-item">
                    <p>Lorem</p>
                </div>
                <div class="bb-col-item">
                    <p>Lorem</p>
                </div>
            </div>
            <div class="bb-col">
                <div class="bb-col-item textCenter">
                    <p>Lorem Ipsum &copy;2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>