.mediaText h2 {
  margin-bottom: 24px;
}

.mediaText h3 {
  order: -1;
}

.mediaText h3::after {
  opacity: 0.6;
  width: 96px;
  height: 1px;
  content: ' ';
  display: block;
  background-color: #464646;
  margin: 17px 0;
}

.smallText {
  font-size: 11.9px;
  line-height: 150%;
  margin-top: 60px;
}

.mediaText ul {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 25px;
}

.btn {
  color: #464646;
  padding: 6px 20px;
  font-weight: 200;
  border: 1px solid #464646;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.lightText {
  color: #fff;
  border-color: #fff;
}
