<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Tile</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>
<body>

    <div class="tile">
        <div class="tile-title">
            <h3>Lorem Ipsum</h3>
        </div>
        <div class="tile-copy">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos officiis?</p>
        </div>
    </div>

    <div class="tile tile--center">
        <div class="tile-title">
            <h3>Lorem Ipsum</h3>
        </div>
        <div class="tile-copy">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed magnam deleniti vel esse ipsam dicta ullam eveniet quod doloremque ut animi, repudiandae quia impedit porro suscipit tenetur placeat quos officiis?</p>
        </div>
    </div>
    
</body>
</html>