@import '../../abstracts/index';

.page-designer {
    .membership-perks {
        text-align: center;
        padding: $spacer-9 0;
        background-color: $white;

        h2 {
            margin-bottom: $spacer-11;
            font-size: $h3-font-size;
            font-weight: $font-weight-regular;
        }

        .perks {
            display: flex;
            flex-direction: column;
        }

        .perk-row {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }

        .perk {
            padding: 0 $spacer-4;
            margin-bottom: $spacer-11;

            .perk-icon {
                margin-bottom: $spacer-7;
                display: flex;
                justify-content: center;

                .perk-icon-wrapper {
                    position: relative;
                    background-color: $shamrock;
                    padding: $spacer-3 $spacer-4;
                    border-radius: 5rem;
                }
            }

            h4 {
                margin-bottom: $spacer-4;
            }
        }
    }
}
