@import '~base/abstracts/index';
@import '../../abstracts/index';

.comparison {
    --flow-gap: #{$spacer-6};

    margin: 60px auto 0;
    max-width: 1160px;

    @include media-breakpoint-up(lg) {
        margin: 120px auto;
    }

    sup {
        vertical-align: super;
        font-size: 0.5em;
        line-height: 0;
    }

    .wrapper {
        padding-inline: 30px;

        @include media-breakpoint-up(sm) {
            padding-inline: 40px;
        }
    }

    .pd-content-margins {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    .heading {
        margin: 0 0 60px;

        @include media-breakpoint-up(lg) {
            margin: 0 0 120px;
        }

        h1 {
            text-align: center;
            font-size: 32px;
            line-height: 42px;

            @include media-breakpoint-up(sm) {
                font-size: 42px;
                line-height: 1.1;
            }

            @include media-breakpoint-up(lg) {
                font-size: 68px;
            }
        }
    }

    .row {
        display: grid;
        column-gap: $spacer-3;
        grid-template-columns: repeat(2, calc(50% - 6px));

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, calc(50% - 12px));
            column-gap: $spacer-6;
        }
    }

    .inputs {
        margin-bottom: $spacer-7;

        .dropdown {
            max-width: 200px;

            .button-wrapper {
                display: flex;
                justify-content: end;
                align-items: center;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 12px;
                    height: 15px;
                    margin-top: -1px;
                    margin-right: $spacer-2;
                    pointer-events: none;

                    @include svg-background('arrow-down-thick');

                    @include media-breakpoint-up(sm) {
                        margin-right: $spacer-4;
                    }
                }

                select {
                    appearance: none;
                    border: none;
                    width: 100%;
                    height: 50px;
                    font-size: $font-size-sm;
                    font-family: $font-Euclid;
                    font-weight: $font-weight-bold;
                    line-height: 1.5;
                    background-color: $white;
                    padding: 13px $spacer-2;
                    border-radius: 4px;
                    cursor: pointer;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    @include media-breakpoint-up(sm) {
                        font-size: 15px;
                        line-height: 1.1;
                        padding-inline: $spacer-4;
                    }
                }
            }
        }
    }

    .col-block {
        background: #fff;
        border-bottom: $border-width solid $gray400;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $spacer-6 $spacer-3;

        @include media-breakpoint-up(sm) {
            padding: 36px $spacer-5;
        }

        > *:where(:not(:first-child)) {
            margin-top: var(--flow-gap);
        }

        h5 {
            font-size: $h6-font-size;
            line-height: 27px;
            letter-spacing: -0.01em;

            @include media-breakpoint-up(sm) {
                font-size: 22px;
            }

            @include media-breakpoint-up(md) {
                font-size: $h4-font-size;
                line-height: 1.2;
            }
        }

        h3 {
            font-size: 24px;
            line-height: 24px;

            @include media-breakpoint-up(sm) {
                font-size: $h4-font-size;
                line-height: 1.2;
            }

            @include media-breakpoint-up(md) {
                font-size: $h3-font-size;
            }
        }

        li.small {
            font-family: $font-Euclid;
            font-size: 10px;
            line-height: 180%;

            @include media-breakpoint-up(sm) {
                font-size: $font-size-sm;
            }
        }
    }

    .col-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        p.small-bold {
            max-width: 35ch;
            font-size: 10px;
            line-height: 1.8;
            margin-top: $spacer-3;
            margin-bottom: var(--flow-gap);

            @include media-breakpoint-up(sm) {
                font-size: $font-size-md;
                line-height: 24px;
            }

            @include media-breakpoint-up(md) {
                font-size: 15px;
                line-height: 1.5;
            }
        }

        img {
            margin-top: auto;
        }
    }

    .connectivity {
        .two-icons {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-bottom: var(--flow-gap);
        }
    }

    .col-bottom {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .price {
        font-family: $font-Euclid;
        font-weight: $font-weight-bold;
        font-size: 16px;

        @include media-breakpoint-up(sm) {
            font-size: 18px;
        }
    }

    .pd-button:hover:not(:disabled),
    .pd-button:focus:not(:disabled) {
        margin-top: calc(var(--flow-gap) - 1px);
    }

    .p-tag {
        max-width: 25ch;
        font-family: $font-Euclid;
        font-size: 10px;
        line-height: 18px;

        @include media-breakpoint-up(sm) {
            max-width: 35ch;
            font-size: $font-size-sm;
            line-height: 1.5;
        }
    }

    .small-bold {
        font-family: $font-Euclid;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        line-height: 24px;

        @include media-breakpoint-up(sm) {
            font-size: 15px;
            line-height: 1.5;
        }
    }
}
