@import '../../abstracts/index';
@import '../../components/content/copyText';
@import '../../components/content/paragraphtext';

.page-designer {
    #faqs {
        margin-block-start: 60px;
        margin-block-end: 60px;

        @include media-breakpoint-up(md) {
            margin-block-start: 120px;
            margin-block-end: 120px;
        }

        .paragraph-text {
            &__content {
                h5 {
                    margin: 48px 0 16px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: -0.02em;

                    @include media-breakpoint-up(sm) {
                        margin: 60px 0 16px;
                        font-size: 22px;
                        line-height: 1.25;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: 28px;
                        line-height: 1.2;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: $font-Euclid;

                    @include media-breakpoint-up(sm) {
                        font-size: 19px;
                        line-height: 1.5;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .pd-legal-text {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
}
