@import '~base/abstracts/index';
@import '../../abstracts/index';

.widget {
    background-color: $gray500;

    &.block:last-child {
        margin-bottom: 0;
    }

    .cwg-wrapper {
        padding: 20px 24px;
        display: grid;
        background: $gray500;
        max-width: 1224px;
        margin: 0 auto;

        .page-title {
            text-align: center;
            padding: 22px 0 16px;
        }

        section {
            background-color: $gray500;
            display: block;
        }

        .page-title {
            text-align: center;
            padding: 22px 0 16px;

            h1 {
                font-size: 32px;
                line-height: 1.13;
                letter-spacing: normal;
                font-weight: 500;
                margin-top: 0;
            }

            h1:last-child {
                margin-bottom: 0;
            }
        }

        .currently-viewing {
            margin-bottom: 32px;

            .cwg-card {
                padding: 24px 36px;
                justify-content: center;
                align-items: center;
                margin: 0;
                background: $white100;
                border-radius: 4px;
                display: flex;
                flex-direction: column;

                .cwg-body1 {
                    flex-direction: column;
                    margin-bottom: 16px;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        margin-top: 0;
                        font-family: 'Graphik', 'San Francisco', 'Roboto', Helvetica, sans-serif;
                        line-height: 18px;
                        letter-spacing: 0;
                    }

                    .cwg-iconWithCopy {
                        margin-top: 4px;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        display: flex;
                        align-items: center;
                        font-size: 13px;

                        &.cwg-u-bold--500 {
                            font-weight: 500;
                        }

                        .cwg-iconWithCopy-icon {
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            border: 1px solid #ccd3db;
                            border-radius: 50%;
                            backface-visibility: hidden;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                            object-fit: cover;
                            vertical-align: middle;
                            margin: 0 auto;
                            max-height: initial;
                        }

                        .cwg-iconWithCopy-copy {
                            font-size: 13px;
                        }
                    }
                }

                .cwg-body2 {
                    font-size: 10px;
                    line-height: 1.4;
                    text-align: center;
                }

                p {
                    font-family: 'Graphik', 'San Francisco', 'Roboto', Helvetica, sans-serif;
                    font-weight: 400;
                    letter-spacing: 0;
                }
            }
        }

        .countries {
            display: grid;
            grid-gap: 28px;

            .region {
                h2 {
                    margin-bottom: 0;
                    font-size: 16px;
                    margin-top: 0;
                    font-family: 'Euclid Circular B', 'Helvetica Neue', Helvetica, sans-serif;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0;
                }

                .region-countries {
                    .country {
                        padding: 12px 0;

                        &.avoidBreak {
                            -webkit-column-break-inside: avoid;
                            page-break-inside: avoid;
                            break-inside: avoid;
                        }

                        .cwg-iconWithCopy {
                            display: flex;
                            align-items: center;
                            font-size: 13px;

                            .cwg-iconWithCopy-icon {
                                width: 32px;
                                height: 32px;
                                margin-right: 8px;
                                border: 1px solid #ccd3db;
                                border-radius: 50%;
                                backface-visibility: hidden;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                display: inline-block;
                            }

                            img {
                                max-width: 100%;
                                height: auto;
                                object-fit: cover;
                                vertical-align: middle;
                                margin: 0 auto;
                                max-height: initial;
                            }

                            a {
                                letter-spacing: normal;
                                color: inherit;
                                text-transform: capitalize;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }

        .cwg-horizontalRule {
            border: solid 1px $gray300;
            margin: 0;
            margin-top: 28px;
            margin-bottom: 40px;
        }

        .cwg-noCountry {
            text-align: left;
            margin-bottom: 28px;

            h2 {
                font-size: 16px;
                margin-bottom: 16px;
                margin-top: 0;
                font-family: 'Euclid Circular B', 'Helvetica Neue', Helvetica, sans-serif;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0;
            }

            .cwg-iconWithCopy {
                display: flex;
                align-items: center;
                font-size: 13px;

                .cwg-iconWithCopy-icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                    border: 1px solid #ccd3db;
                    border-radius: 50%;
                    backface-visibility: hidden;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    display: inline-block;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                    vertical-align: middle;
                    max-height: initial;
                }

                a {
                    letter-spacing: normal;
                    color: inherit;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .cwg-wrapper {
            .currently-viewing {
                margin-bottom: 40px;

                .cwg-card {
                    .cwg-body1 {
                        flex-direction: row;
                        font-size: 14px;

                        h3 {
                            line-height: 20px;
                        }

                        .cwg-iconWithCopy {
                            margin-top: 0;
                            margin-left: 8px;
                            font-size: 14px;

                            .cwg-iconWithCopy-copy {
                                font-size: 14px;
                            }
                        }
                    }

                    .cwg-body2 {
                        font-size: 14px;
                        line-height: 1.43;
                    }

                    p {
                        font-weight: 400;
                        letter-spacing: 0;
                    }
                }
            }

            .countries {
                .region {
                    h2 {
                        font-size: 18px;
                        line-height: 32px;
                    }

                    .region-countries {
                        column-count: 2;

                        .country {
                            padding: 12px 0;

                            .cwg-iconWithCopy {
                                font-size: 14px;

                                .cwg-iconWithCopy-copy {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .cwg-noCountry {
                margin-bottom: 44px;

                h2 {
                    font-size: 18px;
                    line-height: 32px;
                }

                .cwg-iconWithCopy {
                    font-size: 14px;

                    .cwg-iconWithCopy-copy {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .cwg-wrapper {
            .page-title {
                h1 {
                    font-size: 40px;
                }
            }

            .currently-viewing {
                margin-bottom: 48px;

                .cwg-card {
                    .cwg-body1 {
                        font-size: 18px;

                        h3 {
                            line-height: 20px;
                        }

                        .cwg-iconWithCopy {
                            margin-top: 0;
                            margin-left: 8px;
                            font-size: 18px;

                            .cwg-iconWithCopy-copy {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .countries {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;

                .region {
                    h2 {
                        font-size: 20px;
                        line-height: 40px;
                        margin-bottom: 12px;
                    }

                    .region-countries {
                        column-count: 1;

                        &.col-count-2 {
                            column-count: 2;
                        }

                        .country {
                            padding: 20px 0;

                            .cwg-iconWithCopy {
                                font-size: 16px;

                                .cwg-iconWithCopy-copy {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .cwg-noCountry {
                margin-bottom: 44px;

                h2 {
                    font-size: 20px;
                    line-height: 40px;
                }

                .cwg-iconWithCopy {
                    font-size: 16px;

                    .cwg-iconWithCopy-copy {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
