@import '../../abstracts/index';
@import '../../components/assets/bodyCopy';

.page-designer {
    .imprint {
        margin-block-start: 60px;
        margin-block-end: 60px;

        .wrapper {
            max-width: 1440px;
            margin-inline-start: auto;
            margin-inline-end: auto;
            padding: 0 30px;
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
            grid-template-rows: auto;
            column-gap: 24px;
        }

        .text-content {
            grid-column: 1 / 5;
            font-family: $font-Euclid;

            h1 {
                font-size: 36px;
                line-height: 1.05;
                font-weight: $font-weight-bold;
            }

            h2 {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.4px;
                font-weight: $font-weight-bold;
            }

            p {
                font-size: 18px;
                line-height: 28px;

                &:not(:last-child) {
                    margin-block-end: 16px;
                }
            }

            a {
                @include cwg-animated-underline(false);

                display: inline-block;
            }

            address {
                font-family: Times;
                font-size: 20px;
                line-height: 28px;

                &:not(:last-child) {
                    margin-block-end: 16px;
                }
            }

            strong {
                font-weight: 400;
            }
        }

        @include media-breakpoint-up(sm) {
            margin-block-start: 120px;
            margin-block-end: 120px;

            .wrapper {
                padding: 0 40px;
                grid-template-columns: repeat(8, calc((100% - (7 * 24px)) / 8));
            }

            .text-content {
                grid-column: 2 / 8;

                h1 {
                    font-size: 68px;
                    line-height: 1.1;
                }

                h2 {
                    font-size: 24px;
                    line-height: 35px;
                    letter-spacing: -0.48px;
                }

                p {
                    font-size: 19px;
                }
            }
        }

        @include media-breakpoint-up(md) {
            .wrapper {
                padding: 0 70px;
                grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
            }

            .text-content {
                grid-column: 4 / 10;

                h1 {
                    font-size: 82px;
                    line-height: 1.05;
                }

                h2 {
                    font-size: 32px;
                    line-height: 46px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}
