@import '../../abstracts/index';

.how-it-works-wrapper {
    margin: 0 auto;
    width: 100%;

    .three-column-layout-wrapper {
        padding: 0 2rem;
    }

    .number-circle {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        border: 1px solid black;
        color: white;
        background-color: black;
        margin-top: auto;
        margin-bottom: auto;
    }

    .how-it-works-header-copy {
        text-align: center;
    }

    .how-it-works-footer {
        margin-top: 30px;
        text-align: center;
    }

    .how-it-works-footer-copy {
        font-size: 10px;
    }

    .card {
        background-color: #f0f0f0;
        border: none;
        min-width: 300px;
        max-width: 400px;
        flex-direction: row;
        margin: 0 auto;

        .card-header {
            background-color: #f0f0f0;
            margin: 0 auto;
            border-bottom: none;
            padding: 0;
        }

        .card-body {
            background-color: #f0f0f0;
            padding: 2rem 1rem 2rem 2rem;
            min-width: 222px;

            h5 {
                font-weight: 400;
                line-height: 28px;
                font-size: 18px;
            }
        }
    }
    @include media-breakpoint-up(md) {
        .card {
            text-align: center !important;
            flex-direction: column;
            margin: 0;

            .card-body {
                padding: 2rem 7rem;

                h5 {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

        .number-circle {
            font-size: 28px;
        }

        .how-it-works-footer-copy {
            font-size: 12px;
        }

        .three-column-layout-col-1-2-3 {
            column-gap: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .three-column-layout-wrapper {
            padding: 0 17rem;
        }
    }
}

.refer-a-friend-terms-wrapper {
    max-width: calc(100% - 6rem);
    margin: 0 auto;

    ul {
        margin-top: 30px;
        list-style: disc;
        padding: revert;
    }

    .refer-a-friend-terms-header-copy {
        text-align: center;
        margin: 2rem 0;
    }

    a {
        text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
        max-width: 640px;
    }
}
