@import '../../abstracts/index';

.page-designer {
    .shop-category {
        width: 100%;
        background: url("../../../../../default/images/background/fabric-background.jpg");
        padding: 40px 5% 0;
        margin-bottom: $spacer-8;

        @include media-breakpoint-up(md) {
            padding: 40px 5%;
        }

        &__list {
            margin: 0;
        }

        &__title {
            @include media-breakpoint-up(md) {
                margin-bottom: 30px;
            }

            text-align: center;
            margin-bottom: 20px;
        }

        &__item {
            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 45px;
            padding: 0;

            &-title {
                text-align: center;
            }
        }

        &__link {
            margin-bottom: 30px;

            &-img {
                display: block;
            }
        }
    }

    .home-page__content {
        .shop-category {
            margin-bottom: 0;
        }
    }
}
