<!-- <section class="bb-hero">
    <div class="bb-hero-canvas">
        <h1>Hello there...I'm Mr&nbsp;Anderson</h1>
        <canvas id="myCanvas"></canvas>
    </div>
</section> -->

<!-- <section class="bb-hero bb-mediaBlock bb-mediaBlock-fullCopy--centered">
    <div class="bb-mediaBlock-image">
        <picture>
            <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1600x780">
            <source media="(min-width: 641px)" srcset="https://via.placeholder.com/780x480">
            <source media="(max-width: 640px)" srcset="https://via.placeholder.com/640x400">
            <img src="https://via.placeholder.com/1600x780" alt="">
        </picture>
    </div>
    <div class="bb-mediaBlock-copy">
        <h1>Hello there...I'm Mr&nbsp;Anderson</h1>
    </div>
</section> -->

<section class="bb-hero bb-mediaBlock bb-mediaBlock-fullCopy--centered">
    <div class="bb-mediaBlock-image">
        <canvas id="myCanvas"></canvas>
    </div>
    <div class="bb-mediaBlock-copy">
        <h1>Hello there...I'm Mr&nbsp;Anderson</h1>
    </div>
</section>