<div class="cards-table">
    <span class="card-type"><strong>Title</strong>: {{ cardInfo.title }}</span>
    <span class="card-type"><strong>Type</strong>: {{ cardInfo.type }}</span>
    <span class="card-race"><strong>Race</strong>: {{ cardInfo.race }}</span>
    <span class="card-description"><strong>Description</strong>: {{ cardInfo.description }}</span>
</div>
