<footer class="bb-footer">
    <div class="bb-col bb-col-1-2">
        <div class="bb-col-item">
            <div class="bb-footer-links flexContainer flexCentered">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Arcade</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="bb-col-item flexContainer flexCol flexCenteredMain">
            <div class="bb-col bb-col-2">
                <div class="bb-col-item">
                    <p>LinkedIn</p>
                </div>
                <div class="bb-col-item">
                    <p>GitHub</p>
                </div>
            </div>
            <div class="bb-col">
                <div class="bb-col-item textCenter">
                    <p>Caleb Anderson&nbsp;&nbsp;&copy;2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>