<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones - Button</title>

    <link rel="stylesheet" href="../../css/bare-bones.css">
</head>

<body>

    <div>
        <h2>Links</h2>
        <a href="#" class="btn">Primary</a>
        <a href="#" class="btn btn-hollow">Hollow</a>
        <a href="#" class="btn btn-ghost">Ghost</a>
        <a href="#" class="btn btn-pill">Pill</a>
        <a href="#" class="btn btn-hollow btn-pill">Hollow Pill</a>
        <a href="#" class="btn btn-ghost btn-pill">Ghost Pill</a>
    </div>

    <div>
        <h2>Buttons</h2>
        <button class="btn">Primary</button>
        <button class="btn btn-hollow">Hollow</button>
        <button class="btn btn-ghost">Ghost</button>
        <button class="btn btn-pill">Pill</button>
        <button class="btn btn-hollow btn-pill">Hollow Pill</button>
        <button class="btn btn-ghost btn-pill">Ghost Pill</button>
    </div>

</body>

</html>