.shopping-gallery {
    overflow: hidden;

    @include media-breakpoint-up(md) {
        .progress {
            opacity: 0;
        }
    }

    &.gallery-black,
    &.gallery-linen {
        .scrollbar-container {
            grid-column: 1 / 5;
            display: none;
            visibility: hidden;

            @include media-breakpoint-up(md) {
                grid-column: 9 / 13;
                display: initial;
                visibility: initial;
            }

            &.feature {
                display: block;
                visibility: visible;
            }
        }
    }

    .shopping-gallery-inner.with-info img {
        transform: scale(0.7);
        transition: transform 0.25s ease-out;
    }

    &.gallery-linen {
        background-color: transparent;

        .shopping-gallery-slide {
            background-color: $sand-light;
        }

        .gallery-text button,
        .gallery-next,
        .gallery-previous,
        .gallery-next::after,
        .gallery-previous::after {
            background-color: $brown100 !important;
        }

        path {
            fill: #fff;
        }
    }

    &.gallery-black {
        position: relative;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $black;
            z-index: 0;
        }

        .gallery-text button,
        .gallery-next,
        .gallery-previous,
        .gallery-next::after,
        .gallery-previous::after {
            background-color: #fff !important;
        }

        button.black {
            color: #000;
        }

        button.product-info-toggle {
            color: #fff;
        }

        path {
            fill: #000 !important;
        }

        .gallery-wrapper {
            z-index: 1;
        }

        .scrollbar-container {
            background-color: #262626;
        }

        .scrollbar {
            background-color: #bebebe;
        }

        .progress {
            background-color: #262626;
            background-image: linear-gradient(to right, #bebebe, #bebebe);
        }
    }

    .statement-text {
        height: 100%;

        &__content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .gallery-bottom .slick-disabled {
        display: none !important;
    }
}
