<section class="bb-card">
    <div class="bb-card-image">        
        <picture>
            <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1600x780">
            <source media="(min-width: 641px)" srcset="https://via.placeholder.com/780x480">
            <source media="(max-width: 640px)" srcset="https://via.placeholder.com/640x400">
            <img src="https://via.placeholder.com/1600x780" alt="">
        </picture>
    </div>

    <div class="bb-card-copy">
        <h3>Lorem Ipsum</h3>
    </div>

    <div class="bb-card-cta">
        <a class="bb-button" href="#">Lorem Ipsum</a>
    </div>
</section>

<section class="bb-card">
    <div class="bb-card-image">        
        <picture>
            <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1600x780">
            <source media="(min-width: 641px)" srcset="https://via.placeholder.com/780x480">
            <source media="(max-width: 640px)" srcset="https://via.placeholder.com/640x400">
            <img src="https://via.placeholder.com/1600x780" alt="">
        </picture>
    </div>

    <div class="bb-card-copy">
        <h3>Lorem Ipsum</h3>
    </div>

    <div class="bb-card-cta">
        <a class="bb-button" href="#">Lorem Ipsum</a>
    </div>
</section>