#gallery {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px green dotted;
    margin: 30px 0 0 150px;
    /* usually an «overflow:hidden» is set here */
 }
 
 #overflow:checked + #gallery { 
   overflow:hidden; 
 }
 
 #gallery ul {
    font-size: 0;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: -100px;
    margin: 0; padding: 0;
 }
 
 #gallery li {
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 96px;
    white-space: normal;
    padding: 2px
 }
 
 button {
   font: 40px "Courier New";
   border: 1px #d8d8d8 dotted;
   color: #626262;
   background: none;
   cursor: pointer;
   width: 50px;
   text-align: center;
   margin: 20px -150px 0 150px;
 }
 
 label, a {
    font: 14px Georgia;
    font-style: italic;
    color: #626262;
 }
 
 