// out: false
/*
* This is a collection of useful css styles
* that can be used anywhere
*/

.noWrap {
    white-space: nowrap;
}

.text {
    &Center {
        text-align: center;
    }
}

.flex {
    &Container {
        display: flex;
    }

    &Col {
        flex-direction: column;
    }

    &Centered {
        justify-content: center;
        align-items: center;

        &Main {
            justify-content: center;
        }

        &Cross {
            align-items: center;
        }
    }
}