@import '../../../abstracts/index';

.page-designer {
    .bright360-drag-sequence {
        color: $white;
        padding-bottom: 96px;
        margin: 0;

        .wrapper {
            max-width: $breakpoint-xxl;
            margin-left: auto;
            margin-right: auto;
            padding: 0 30px;

            @include media-breakpoint-up(md) {
                padding: 0 40px;
            }

            @include media-breakpoint-up(lg) {
                padding: 0 70px;
            }
        }

        .grid-container {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
            grid-template-rows: auto;
            column-gap: 24px;

            @include media-breakpoint-up(sm) {
                grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
            }
        }
    }

    .bright360-drag-sequence .sequence-title {
        margin-bottom: 32px;
        font-size: $font-size-hero;
        line-height: 1.1;
    }

    .bright360-drag-sequence .sequence-text {
        grid-column: 1 / 5;
        text-align: center;
        margin-bottom: 30px;
        font-size: $font-size-xl;
    }

    .bright360-drag-sequence .label-text {
        font-size: 18px;
        display: none;
    }

    .bright360-drag-sequence .sequence-label {
        display: flex;
        gap: 16px;
        -webkit-user-select: none;
        user-select: none;
        align-items: center;
    }

    .bright360-drag-sequence .left-label {
        flex-direction: row-reverse;
    }

    .bright360-drag-sequence .sequence-controls {
        grid-row: 3;
        grid-column: 1 / 5;
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin-bottom: 32px;
    }

    .bright360-drag-sequence .sequence-container {
        position: relative;
        grid-row: 2;
        grid-column: 1 / 5;
        margin-bottom: 32px;
        font-size: 0;
        display: grid;
    }

    .bright360-drag-sequence .sequence-container picture {
        grid-area: 1/-1;
        position: relative;
    }

    .bright360-drag-sequence .sequence-range {
        flex-grow: 1;
        height: 12px;
        border-radius: 20px;
        -webkit-appearance: none;
        background-color: #666;
    }

    .bright360-drag-sequence .sequence-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $white;
        cursor: pointer;
    }

    .bright360-drag-sequence .sequence-range::-moz-range-thumb {
        -webkit-appearance: none;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .bright360-drag-sequence .sequence-range::-ms-thumb {
        -webkit-appearance: none;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .bright360-drag-sequence .sequence-range::-webkit-slider-runnable-track,
    .bright360-drag-sequence .sequence-range::-moz-range-track,
    .bright360-drag-sequence .sequence-range::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }
    /* stylelint-disable */
    @media screen and (min-width: 641px) {
        .bright360-drag-sequence {
            padding-bottom: 120px;
        }

        .bright360-drag-sequence .sequence-text {
            grid-column: 2 / 8;
        }

        .bright360-drag-sequence .sequence-controls {
            grid-column: 2 / 8;
        }

        .bright360-drag-sequence .sequence-container {
            grid-column-end: 9;
        }
    }

    @media screen and (min-width: 1025px) {
        .bright360-drag-sequence .sequence-title {
            margin-bottom: 24px;
        }

        .bright360-drag-sequence .sequence-text {
            grid-column: 3 / 11;
            margin-bottom: 30px;
        }

        .bright360-drag-sequence .sequence-controls {
            grid-row-start: 2;
            grid-column: 4 / 10;
            margin-bottom: 40px;
        }

        .bright360-drag-sequence .sequence-container {
            grid-row-start: 3;
            grid-column-end: 13;
            margin-bottom: 0;
            @include z-index(body);
        }

        .bright360-drag-sequence .label-text {
            display: block;
        }
    }
    /* stylelint-enable */
}
