@import '../../../abstracts/index';

.page-designer {
    .bright-faq {
        padding: 0 $spacer-7;
        margin-top: $spacer-9;

        @include media-breakpoint-up(md) {
            padding: 0 $spacer-8;
            margin-top: 120px;
        }

        .text-content {
            max-width: $breakpoint-sm;
            text-align: left;
            margin: 0 auto;
        }

        h3 {
            font-size: $h2-font-size;
            line-height: 1.1;
            margin-bottom: $spacer-6;
        }

        p {
            font-size: $font-size-xl;
            margin-bottom: $spacer-9;
            line-height: 1.5;
        }

        h5 {
            font-size: $h4-font-size;
            line-height: 1.2;
            margin-bottom: $spacer-4;
        }
    }
}
