@import '../../../../abstracts/index';

.joy-cards {
    overflow: hidden;
    margin-block-start: 60px;
    margin-block-end: 60px;

    .wrapper {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px;
        position: relative;
    }

    .grid-container {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
        grid-template-rows: auto;
        column-gap: 24px;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
        }
    }

    .card-text {
        grid-column: 1 / 5;
        align-self: center;
        text-align: center;
        grid-row-start: 1;
        will-change: transform;
    }

    .card-title {
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 37px;
    }

    .card-copy {
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 24px;
    }

    .cards {
        grid-column: 1 / 5;
        width: auto;
        max-width: none;
        display: grid;
        grid-template-columns: repeat(3, calc((100% - (2 * 1%)) / 3));
        grid-template-rows: auto;
        column-gap: 1%;
    }

    .card-col {
        will-change: transform;
    }

    .card-image {
        will-change: opacity;
    }

    @include media-breakpoint-up(md) {
        .wrapper {
            padding: 0 40px;
        }

        .card-title {
            margin-bottom: 24px;
            font-size: 34px;
            line-height: 1.2;
        }

        .card-copy {
            margin-bottom: 70px;
            font-size: 15px;
            line-height: 1.5;
        }

        .cards {
            grid-column: 6 / 13;
            max-width: 65vw;
            width: 1070px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-block-start: 120px;
        margin-block-end: 120px;

        .wrapper {
            padding: 0 70px;
        }

        .card-text {
            grid-column: 1 / 5;
            text-align: left;
        }

        .card-title {
            font-size: 42px;
            line-height: 1.1;
        }
    }
}
