@import '../../../../abstracts/index';

.joy-learning-curve {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: inherit;

    .wrapper {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px;
        position: relative;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - (3 * 24px)) / 4));
            grid-template-rows: auto;
            column-gap: 24px;

            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(12, calc((100% - (11 * 24px)) / 12));
            }
        }
    }

    .learning-text {
        grid-column: 1 / 5;
        align-self: center;
        text-align: center;
    }

    .learning-title {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 37px;
    }

    .learning-copy {
        font-size: 14px;
        line-height: 24px;
    }

    .learning-visuals {
        grid-column: 1 / 5;
        grid-row-start: 2;
        position: relative;
        text-align: center;
        padding: 8% 0;
    }

    .learning-phone {
        max-width: 53%;
        position: relative;
        z-index: 1;
    }

    .learning-secondary {
        max-width: 30%;
        position: absolute;
        border-radius: 14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(sm) {
        .learning-text {
            grid-column: 2 / 4;
        }
    }

    @include media-breakpoint-up(md) {
        .wrapper {
            padding: 0 40px;
        }

        .learning-text {
            grid-column: 8 / 13;
            grid-row: 1;
            text-align: left;
        }

        .learning-title {
            margin-bottom: 28px;
            font-size: 34px;
            line-height: 1.2;
        }

        .learning-copy {
            font-size: 15px;
            line-height: 1.5;
        }

        .learning-visuals {
            grid-column-end: 9;
            grid-row-start: 1;
            margin-bottom: 40px;
        }

        .learning-secondary {
            max-width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        .wrapper {
            padding: 0 70px;
        }

        .learning-visuals {
            grid-column-end: 8;
            padding: 100px 0;
        }

        .learning-title {
            font-size: 42px;
            line-height: 1.1;
        }

        .learning-phone {
            max-width: 352px;
        }
    }
}
