<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comonent - Navbar</title>


    <link rel="stylesheet" href="../css/components/navbar.css">
</head>

<body>

    <nav class="bb-navbar">
        <div class="bb-navbar-contents">
            <div class="bb-navbar-contents-logo">
                <a class="" href="#"><img src="https://via.placeholder.com/70?text=Logo" alt="Logo"></a>
            </div>
            <div class="bb-navbar-contents-links isOpen">
                <div class="bb-navbar-contents-links-left">
                    <div>
                        <ul class="">
                            <li class="">
                                <a href="#">About</a>
                            </li>
                            <li class="bb-accordion">
                                <a href="#">Projects</a>
                                <span class="bb-accordion-button toggle-botton">></span>
                                <div class="bb-accordion-contents">
                                    <ul class="">
                                        <li class=""><a href="#">Career</a></li>
                                        <li><a href="#">Freelance</a></li>
                                        <li><a href="#">Personal</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bb-navbar-contents-links-right">
                    <div>
                        <ul class="">
                            <li><a href="#">Arcade</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bb-navbar-contents-mobileIcon bb-mobileIcon">
                <div class="toggle-button">
                    <div class="menu-bar menu-bar--top"></div>
                    <div class="menu-bar menu-bar--middle"></div>
                    <div class="menu-bar menu-bar--bottom"></div>
                </div>
            </div>
        </div>
    </nav>

    <script src="../js/utils.js"></script>
    <script src="../js/components/navbar.js"></script>
    <script src="../js/components/accordion.js"></script>

</body>

</html>