<link rel="stylesheet" href="../../bare-bones/css/components/navbar.css">

<nav class="bb-navbar-container">
    <div class="">

        <div class="">
            <div>
                <ul class="">
                    <li class=""><a href="#">About</a></li>
                    <li>
                        <a href="#">Projects</a>
                        <div class="">
                            <ul class="">
                                <li class=""><a href="#">Career</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Personal</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="" href="#">Logo</a>
        <div class="">
            <div>
                <ul class="">
                    <li><a href="#">Arcade</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>