.page-designer {
    background-color: $gray500;

    .pd-home-page {
        &.home-page {
            &__content {
                max-width: $hh-max-width;
                padding: 0;
                @include z-index('body');

                @include media-breakpoint-up(xxl) {
                    margin: 0 auto;
                }
            }
        }

        .hh-header-top,
        .hh-nav-main {
            max-width: $hh-max-width;
        }
    }

    .footer {
        margin-top: $spacer-11;

        @include z-index('footer');
    }
}
