.page-designer {
    .pd-header-container {
        .nav-hamburger {
            width: 31px;
            height: 16px;
            position: relative;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $black;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                    top: 1px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 8px;
                }

                &:nth-child(4) {
                    top: 14px;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 8px;
                        left: 6px;
                        width: 60%;
                    }

                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
}
