.page-designer {
    // nav underline animation
    .hh-nav-link,
    .hh-shop-link a,
    .user__login-msg,
    .accessibility-notice a {
        position: relative;
        font-weight: $font-weight-bold;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $black;
            transform: scale3d(0, 1, 1);
            transition: $link-trasition;
            transform-origin: 100% 50%;
        }

        @include media-breakpoint-up(md) {
            &:hover {
                &::after {
                    transform: scale3d(1, 1, 1);
                    transition: $link-trasition;
                    transform-origin: 0 50%;
                }
            }
        }
    }

    .pd-header-container {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        left: 0;
        will-change: transform;
        @include z-index('navigation');

        &.navigationScrollHidden {
            pointer-events: none;
        }

        &.navigationScrollShowing {
            pointer-events: none;
            transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .hh-header-top {
        display: flex;
        max-width: $hh-max-width;
        padding: $spacer-2 $spacer;
        font-family: $font-Euclid;
        font-size: $font-size-lg;
        justify-content: flex-end;
        margin: 0 auto;

        @include media-breakpoint-up(xs) {
            padding: $spacer-2 $spacer-5;
        }

        @include media-breakpoint-up(md) {
            padding: $spacer-2 $spacer-8;
        }

        @include media-breakpoint-up(md) {
            padding: $spacer-2 $spacer-11;
        }

        @include media-breakpoint-up(xxl) {
            padding: $spacer-2 0;
        }

        &__wrapper {
            display: none;
            width: 100%;
            background-color: $gray500;
            position: relative;
            @include z-index('navigation');

            @include media-breakpoint-up(md) {
                display: block;
            }
        }

        .accessibility-notice {
            padding-left: $spacer-6;
            border-left: $border;

            a {
                color: $black;
                font-size: 1.5rem;
                font-weight: $font-weight-bold;
            }
        }

        .hh-login {
            padding-right: $spacer-6;
            border-right: $border;

            .user {
                margin: 0;

                &__login-msg,
                &__message {
                    color: $black;
                    font-size: 1.5rem;
                    font-weight: $font-weight-bold;
                }

                &__login {
                    svg {
                        display: none;
                    }
                }
            }
        }

        .hh-language-selector {
            padding-left: $spacer-6;
            padding-right: $spacer-6;

            .country-selector {
                margin-right: 0;
            }

            a {
                font-weight: $font-weight-bold;
                color: $black;
            }
        }
    }

    .hh-main-nav {
        max-width: $hh-max-width;
        font-family: $font-Euclid;
        font-size: $font-size-lg;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        padding: $spacer-5 $spacer-7;

        @include media-breakpoint-up(md) {
            z-index: 2;
            padding: 0;
        }

        &__wrapper {
            width: 100%;
            background-color: $white;
            padding: 0;

            @include media-breakpoint-down(sm) {
                position: relative;
                @include z-index('navigation');
            }

            @include media-breakpoint-up(md) {
                padding: 0 $spacer-11;
            }

            .hh-nav-item,
            .hh-shop-link {
                a {
                    color: $black;
                    font-size: 1.5rem;
                }

                @include media-breakpoint-up(md) {
                    &:hover {
                        a {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
        }

        &__mobile-user {
            position: sticky;
            bottom: 0;
            left: 0;
            overflow: hidden;

            .hh-header-top,
            .user {
                &__wrapper {
                    display: block;
                }
            }

            .hh-header-top {
                justify-content: flex-start;
            }

            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        .hh-nav-toggle {
            appearance: none;
            background: none;
            border: 0;
            padding: 0;

            &:hover {
                cursor: pointer;
            }

            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        .hh-logo,
        .hh-shop-link {
            @include media-breakpoint-up(md) {
                z-index: 3;
            }
        }

        .hh-nav {
            position: absolute;
            width: 100%;
            background-color: $white;

            &.active {
                display: inline-block;
            }

            @include media-breakpoint-down(sm) {
                top: 66px;
                left: 0;
                max-height: calc(100vh - 66px);
                transform: translate3d(0, -100%, 0);
                transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                box-sizing: content-box;
                overflow-x: hidden;
                z-index: -1;

                .hh-nav-item {
                    @include transition-delay-two(10, '.hh-nav-dropdown-toggle', transform, opacity, 0.25s);
                }

                .hh-nav-dropdown-toggle {
                    opacity: 0;
                    transform: translate3d(0, -20px, 0);
                }

                &.active {
                    transform: translate3d(0, 0, 0);

                    .hh-nav-dropdown-toggle {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            @include media-breakpoint-up(md) {
                display: inline-block;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                position: relative;
                overflow: visible;
                padding: 0;
            }

            .hh-nav-link {
                font-size: $font-size-lg;
                cursor: pointer;

                &:not(.js-hh-sub-category) {
                    width: 100%;
                }

                @include media-breakpoint-up(md) {
                    width: auto;
                    font-size: $h7-font-size;
                }
            }

            .js-hh-sub-category {
                @include media-breakpoint-down(sm) {
                    .hh-nav-link {
                        pointer-events: none;
                    }
                }
            }
        }

        .hh-navigation {
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: $spacer-7 $spacer-7 $spacer-9 $spacer-7;

            @include media-breakpoint-up(md) {
                z-index: 2;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
        }

        .hh-nav-item {
            margin: 0;
            padding: 0;

            @include media-breakpoint-up(md) {
                margin: 0 $spacer-4;
                padding: $spacer-5 0;
                cursor: default;

                svg {
                    display: none;
                }
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }

                @include media-breakpoint-down(sm) {
                    .hh-nav-link {
                        &::after {
                            transform: scale3d(1, 1, 1);
                            transition: $link-trasition;
                            transform-origin: 0 50%;
                        }
                    }
                }
            }

            .hh-nav-dropdown-toggle {
                padding: $spacer-5 0;
                cursor: pointer;
                width: 100%;

                .hh-nav-link {
                    width: 100%;

                    @include media-breakpoint-up(md) {
                        width: auto;
                    }
                }

                &.js-hh-sub-category {
                    .hh-nav-link {
                        width: auto;
                    }
                }

                @include media-breakpoint-down(sm) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                @include media-breakpoint-up(md) {
                    padding: 0;
                    cursor: default;
                    width: auto;
                }
            }

            .hh-nav-item-dropdown {
                position: relative;
                transition: $nav-dropdown-in-transition-mobile;
                max-height: 0;
                overflow: hidden;

                &.active {
                    display: flex;
                    flex-direction: column;
                    max-height: 1000px;

                    .hh-nav-dropdown-link {
                        .hh-dropdown-nav-image {
                            opacity: 1;
                        }

                        p {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    position: absolute;
                    left: 0;
                    top: 6.2rem;
                    width: 100%;
                    max-height: revert;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $white;
                    padding: $spacer-7 $spacer-9;
                    overflow: visible;
                    // transition
                    visibility: hidden;
                    z-index: -1;
                    transform: translate3d(0, -100%, 0);
                    transition: $nav-dropdown-out-transition;

                    &.active {
                        display: flex;
                        flex-direction: row;
                        visibility: visible;
                        transform: translate3d(0, 0, 0);
                        transition: $nav-dropdown-in-transition;

                        .hh-nav-dropdown-link {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100vw;
                        left: 50%;
                        right: 50%;
                        margin-left: calc(-50vw - 38px);
                        margin-right: -50vw;
                        background-color: $white;
                        z-index: -1;
                        pointer-events: none;
                    }
                }
            }

            .hh-nav-dropdown-item {
                margin: 0 0 $spacer-5 0;

                &:first-child {
                    padding-top: $spacer-7;
                }

                &:last-child {
                    padding-bottom: $spacer-7;
                    margin-bottom: 0;
                }

                @include transition-delay(10, '.hh-dropdown-nav-image', opacity, 0.1s);

                @include media-breakpoint-up(md) {
                    margin: 0 $spacer-5;

                    &:first-child {
                        padding: 0;
                    }

                    &:last-child {
                        padding: 0;
                    }
                }

                @include media-breakpoint-up(lg) {
                    margin: 0 $spacer-6;
                }
            }

            .hh-nav-dropdown-link {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                p {
                    font-size: $font-size-xl;
                    font-weight: $font-weight-bold;
                    color: $black;
                    font-family: $font-Euclid;
                    margin-left: $spacer-4;
                    opacity: 0;
                    transform: translate3d(-20px, 0, 0);
                    transition: opacity 0.25s 0.2s ease-out, transform 0.25s 0.2s ease-out;
                }

                @include media-breakpoint-up(md) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transform: scale(0.5);
                    transition: opacity 0.25s 0.25s ease-out, transform 0.25s 0.25s ease-out;
                    padding: 0;
                    text-align: center;

                    p {
                        font-size: $font-size-lg;
                        margin-left: 0;
                        opacity: 1;
                    }

                    &:hover {
                        .hh-dropdown-nav-image {
                            img {
                                transform: scale3d(1.1, 1.1, 1);
                            }
                        }
                    }
                }

                @include media-breakpoint-up(lg) {
                    p {
                        font-size: $font-size-xl;
                    }
                }
            }

            .hh-dropdown-nav-image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 64px;
                width: 64px;
                background-color: $gray500;
                border-radius: 50%;
                margin-bottom: 0;
                opacity: 0;

                img {
                    height: 56px;
                    width: 56px;
                }

                @include media-breakpoint-up(md) {
                    max-height: 140px;
                    max-width: 140px;
                    margin-bottom: $spacer-3;
                    opacity: 1;

                    img {
                        max-height: 104px;
                        max-width: 104px;
                        transform: scale3d(1, 1, 1);
                        transition: transform 0.25s ease-out;
                    }
                }

                @include media-breakpoint-up(lg) {
                    height: 140px;
                    width: 140px;

                    img {
                        height: 104px;
                        width: 104px;
                    }
                }
            }
        }
    }
}
