/* * * * * * *  *
* GLOBAL STYLES *
* * * * * * * * */

body {
    color: #343434;
}

img {
    width: 300px;
}

a {
    color: #ffe66d;
}

a:hover {
    text-decoration: none;
}

/* * * *  *
* PROFILE *
* * * * * */

header {
    background: #2f3061;
    color: #f7fff7;
}

/* * * * * *
* PROJECTS *
* * * * *  */

.projects {
    background: #f7fff7;
}

.projects a {
    color: #2f3061;
}

.projects .btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    opacity: 0.8;
}


/* * * * * * * *  *
* WORK EXPERIENCE *
* * * * * * * * * */

.work-experience {
    background: #a1c6d7;
}


/* * * * *  *
* EDUCATION *
* * * * * * */


/* * * * * * * *
* CONTACT INFO *
* * * * * * *  */

footer {
    background: #343434;
    color: #f7fff7;
}
